@media all and (max-width: 1440px) {
    
    .img {
        position: relative;
        top: 100px;
        left: 150px;
    }
    
    .ShoppingSite {
        position: relative;
        left: 300px;
        top: 70px;
        font-size: 40px;
    }

    .ShoppingSite::after {
        content: "🎉"
    }
    
    #Startshopping {
        position: relative;
        right: 380px;
        top: 250px;
        background: orange;
        font-size: 30px;
        padding: 20px 20px 20px 20px;
        border-radius: 20px;
    }

    #Startshopping::after {
        content:"🛒"
    }
}

@media all and (max-width: 768px) {

    .img {
        position: relative;
        top: 100px;
        left: 125px;
    }
    
    #Startshopping {
        position: relative;
        left: 350px;
        top: 300px;
        background: orange;
        font-size: 30px;
        padding: 35px 150px 35px 150px;
        border-radius: 20px;
    }

}

@media all and (max-width: 390px) {

    .img {
        width: 550px;
        position: relative;
        top: 400px;
        left: 0px;
        left: 10px;
    }

    .ShoppingSite {
        position: relative;
        left: 130px;
        top: 370px;
        font-size: 20px;
    }

    #Startshopping {
        position: relative;
        left: 90px;
        top: 500px;
        background: orange;
        font-size: 20px;
        padding: 15px 150px 15px 150px;
        border-radius: 20px;
    }


}