.layout {
    width: 920px;
    height: 145px;
    margin-top: 42px;
    display: flex;
}
        
.decoration1 {
    width: 145px;
    height: 145px;
    position: relative;
    left: 220px;
    top: 50px;
}
        
.fastimage {
    width: 920px;
    height: 400px;
    border-radius: 10px;
    position: relative;
    top: 100px;
    left: 250px;
}
        
.item_search {
    width: 300px;
    height: 45px;
    position: relative;
    top: 130px;
    left: 350px;
    border-radius: 12px;
}
    
input::placeholder {
    width: 69px;
    height: 21px;
    font-family: Avenir;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.86px;
    text-align: left;
    color: #D0D0D0;
    position: relative;
    left: 20px
}
      
.magnifyingglass {
    background-color: #deb089;
    width: 90px;
    height: 45px;
    position: relative;
    left: 370px;
    top: 133px;
    border-radius: 12px;
    padding: 10px 15px 10px 15px;
    border: none;
}
        
.shoppingcart_text {
    height: 19px;
    position: relative;
    top: 160px;
    left: 460px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.12px;
    text-align: left;
}
        
.image_cart {
    width: 33px;
    height: 31px;
    position: relative;
    top: 150px;
    left: 490px;
    border: none;
    background-color: white;
}

.image_cart img {
    width: 33px;
    height: 31px;
}
        
.num_cart {
    width: 10px;
    height: 10px;
    position: relative;
    left: 480px;
    top: 136px;
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 12.1px;
    text-align: center;
    padding: 5px 5px 5px 5px;
    border: 2px solid #333;
    border-radius: 50%;
    color: #fff;
    background-color: #deb089;
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 12.1px;
    text-align: center;
}
        
.border {
    width: 920px;
    border: 1px solid #656565;
    position: relative;
    left: 250px;
    top: 42px;
}
        
.itemlist_text {
    width: 100px;
    height: 36px;
    position: relative;
    top: 140px;
    left: 250px;
    font-family: sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 35.52px;
    text-align: left;  
}
        
.border2 {
    width: 920px;
    border: 1px solid #656565;
    position: relative;
    top: 150px;
    left: 250px;
}
        
#item_display {
    width: 920px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    top: 150px;
    left: 250px;
}
    
.items img {
    width: 212px;
    height: 212px;
    margin-top: 40px;
    margin-right: 25px;
}
       
.border3 {
    width: 920px;
    border: 1px solid #656565;
    position: relative;
    top: 300px;
    left: 250px;
}
        
.decoration2 {
    width: 145px;
    height: 145px;
    position: relative;
    top: 400px;
    left: 650px;
}
        
.content3 {
    width: 292px;
    height: 16px;
    font-weight: 400px;
    font-size: 12px;
    position: relative;
    top: 450px;
    left: 580px;   
}
    
.soldout_message {
    position: absolute;
    top: 40px;
    width: 70px;
    height: 30px;
    color: #fff;
    background-color: #FF8D8D;
    border-radius: 10px;
    font-family: Avenir;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.12px;
    text-align: center;
    padding: 10px 10px 0px 10px;
}
    
.noitem_display {
    position: relative;
    top: 50px;
    left: 250px;
    width: 450px;
    height: 39px;
    font-family: YuGothic;
    font-size: 26px;
    font-weight: 500;
    line-height: 39px;
}

@media all and (max-width: 1280px) {

    .border {
        position: relative;
        left: 180px;
    }

    .decoration1 {
        position: relative;
        left: 150px;
    }

    .item_search {
        position: relative;
        left: 260px;
    }

    .magnifyingglass {
        position: relative;
        left: 280px;
    }

    .shoppingcart_text {
        position: relative;
        left: 380px;
    }

    .image_cart {
        position: relative;
        left: 425px;
    }

    .num_cart {
        position: relative;
        left: 415px;
    }

    .fastimage {
        position: relative;
        left: 180px;
    }

    .itemlist_text {
        position: relative;
        left: 180px;
    }

    .border2 {
        position: relative;
        left: 180px;
    }

    #item_display {
        position: relative;
        left: 180px;
    }

    .border3 {
        position: relative;
        left: 180px;
    }

    .decoration2 {
        position: relative;
        left: 580px;
    }

    .content3 {
        position: relative;
        left: 530px;
    }
}

@media all and (max-width: 1024px) {

    .border {
        position: relative;
        left: 50px;
    }

    .decoration1 {
        position: relative;
        left: 30px;
    }

    .item_search {
        position: relative;
        left: 180px;
    }

    .magnifyingglass {
        position: relative;
        left: 200px;
    }

    .shoppingcart_text {
        position: relative;
        left: 250px;
    }

    .image_cart {
        position: relative;
        left: 295px;
    }

    .num_cart {
        position: relative;
        left: 285px;
    }

    .fastimage {
        position: relative;
        left: 50px;
    }

    .itemlist_text {
        position: relative;
        left: 50px;
    }

    .border2 {
        position: relative;
        left: 50px;
    }

    #item_display {
        position: relative;
        left: 50px;
    }

    .border3 {
        position: relative;
        top: 400px;
        left: 50px;
    }

    .decoration2 {
        position: relative;
        top: 450px;
        left: 430px;
    }

    .content3 {
        position: relative;
        top: 500px;
        left: 360px;
    }
}

@media all and (max-width: 912px) {
    
    .border {
        position: relative;
        left: 25px;
    }

    .decoration1 {
        position: relative;
        left: -5px;
    }

    .item_search {
        position: relative;
        left: 150px;
    }

    .magnifyingglass {
        position: relative;
        left: 165px;
    }

    .image_cart {
        position: relative;
        left: 271px;
    }

    .num_cart {
        position: relative;
        left: 261px;
    }

    .fastimage {
        position: relative;
        left: 25px;
    }

    .itemlist_text {
        position: relative;
        left: 25px;
    }

    .border2 {
        position: relative;
        left: 25px;
    }

    #item_display {
        position: relative;
        left: 25px;
    }

    .border3 {
        position: relative;
        left: 25px;
    }

    .decoration2 {
        position: relative;
        top: 500px;
        left: 400px;
    }

    .content3 {
        position: relative;
        top: 550px;
        left: 340px;
    }
}

@media all and (max-width: 854px) {
    
    .layout {
        width: 534px;
        height: 110px; 
    }

    .decoration1 {
        position: relative;
        left: 130px;
        top: 10px;
    }

    .decoration1 img {
        width: 100px;
        height: 100px;
    }

    .item_search {
        width: 200px;
        height: 35px;
        position: relative;
        top: 60px;
        left: 150px;
        border-radius: 12px;
    }

     input::placeholder {
        width: 62px;
        height: 17px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
        text-align: left;
        color: #D0D0D0 
    }

    .magnifyingglass {
        background-color: #deb089;
        width: 60px;
        height: 35px;
        position: relative;
        left: 160px;
        top: 62px;
        padding: 5px 8px 8px 8px;
        border: none;
    }

    .border {
        width: 534px;
        border: 1px solid #656565;
        position: relative;
        left: 150px;
        top: 0px;
    }

    .shoppingcart_text {
        display:none;
    }

    .image_cart {
        width: 33px;
        height: 31px;
        position: relative;
        left: 240px;
        top: 70px;
        border: none;
        background-color: white;
    }

    .num_cart {
        width: 10px;
        height: 10px;
        position: relative;
        left: 230px;
        top: 55px;
        padding: 5px 5px 5px 5px; 
        border: 2px solid #333;
        border-radius: 50%;
        color: #fff;
        background-color: #deb089;
        font-family: Inter;
        font-size: 10px;
        font-weight: 400;
        line-height: 12.1px;
        text-align: center;
    }

    .fastimage {
        width: 534px;
        height: 232px;
        border-radius: 10px;
        position: relative;
        top: 50px;
        left: 150px;
    }

    .itemlist_text {
        width: 106px;
        height: 25px;
        position: relative;
        top: 90px;
        left: 150px;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 27.32px;
        text-align: left;  
    }

    .border2 {
        width: 534px;
        border: 1px solid #656565;
        position: relative;
        top: 90px;
        left: 150px;
    }

    #item_display {
        width: 534px;
        display: grid;
        grid-template-columns: repeat(3, 188px);
        position: relative;
        top: 140px;
        left: 150px;
    }   

    .items {
        width: 162px;
        height: 213px;
        position: relative;
        bottom: 120px;
        margin-top: 70px;
    }

    .items img {
        width: 162px;
        height: 170px;
    }

    .border3 {
        width: 534px;
        border: 1px solid #656565;
        position: relative;
        left: 150px; 
        top: 350px;
    }

    .decoration2 {
        position: relative;
        top: 450px;
        left: 350px;
    }

    .decoration2 img {
        width: 100px;
        height: 100px;
    }

    .content3 {
        width: 292px;
        height: 16px;
        font-weight: 400px;
        font-size: 12px;
        position: relative;
        top: 520px;
        left: 260px;
    }

    .soldout_message {
        position: absolute;
        top: 40px;
        width: 70px;
        height: 30px;
        color: #fff;
        background-color: #FF8D8D;
        border-radius: 10px;
        font-family: Avenir;
        font-size: 14px;
        font-weight: 500;
        line-height: 19.12px;
        text-align: center;
        padding: 7px 10px 0px 10px;
    }

    .noitem_display {
        position: relative;
        top: 0px;
        left: 50px;
        width: 450px;
        height: 39px;
        font-family: YuGothic;
        font-size: 26px;
        font-weight: 500;
        line-height: 39px;
    }
}

@media all and (max-width: 768px) {

    .border {
        position: relative;
        left: 120px;
    }

    .decoration1 {
        position: relative;
        left: 100px;
    }

    .item_search {
        position: relative;
        left: 100px;
    }

    .magnifyingglass {
        position: relative;
        left: 110px;
    }

    .image_cart {
        position: relative;
        left: 205px;
    }

    .num_cart {
        position: relative;
        left: 195px;
    }

    .fastimage {
        position: relative;
        left: 120px;
    }

    .itemlist_text {
        position: relative;
        left: 120px;
    }

    .border2 {
        position: relative;
        left: 120px;
    }

    #item_display {
        position: relative;
        left: 120px;
    }

    .border3 {
        position: relative;
        top: 300px;
        left: 120px;
    }

    .decoration2 {
        position: relative;
        top: 350px;
        left: 350px;
    }

    .content3 {
        position: relative;
        top: 380px;
        left: 260px;
    }
}

@media all and (max-width: 540px) {

    .border {
        position: relative;
        left: 25px
    }

    .decoration1 {
        position: relative;
        left: 10px;
        top: 10px;
    }

    .item_search {
        position: relative;
        left: 10px;
    }

    .magnifyingglass {
        position: relative;
        left: 20px;
    }

    .image_cart {
        position: relative;
        left: 110px;
    }

    .num_cart {
        position: relative;
        left: 100px;
    }

    .fastimage {
        position: relative;
        left: 25px;
    }

    .itemlist_text {
        position: relative;
        left: 10px;
    }

    .border2 {
        position: relative;
        left: 25px;
    }

    #item_display {
        position: relative;
        left: 25px;
    }

    .border3 {
        position: relative;
        left: 25px;
    }

    .decoration2 {
        position: relative;
        left: 235px;
    }

    .content3 {
        position: relative;
        left: 155px;
    }
}

@media all and (max-width: 430px) {

    .layout {
        width: 390px;
        height: 110px; 
    }

    .decoration1 {
        position: relative;
        left: 30px;
        top: 10px;
}

    .decoration1 img {
        width: 54px;
        height: 54px;
    }

    .item_search {
        width: 186px;
        height: 26px;
        position: relative;
        top: 30px;
        left: -30px;
        border-radius: 12px;
}

    input::placeholder {
        height: 14px;
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 16.94px;
        text-align: left;
        color: #D0D0D0;
        position: relative;
        left: 10px;
}

    .magnifyingglass {
        background-color: #deb089;
        width: 40px;
        height: 26px;
        position: relative;
        left: -25px;
        top: 32px;
        padding: 1px 1px 1px 1px;
        border-radius: 8px;
}

    .magnifyingglass_image {
        width: 10px;
        height: 12px;
    }

    .border {
        width: 358px;
        border: 1px solid #656565;
        position: relative;
        left: 35px;
        top: -45px;
}

    .shoppingcart_text {
        display: none;
}

    .image_cart {
        position: absolute;
        top: 75px;
        left: 365px;
        border: none;
        background-color: white;
}

    .image_cart img {
        width: 26px;
        height: 24px;
}

    .num_cart {
        width: 10px;
        height: 10px;
        position: relative;
        left: 18px;
        top: 18px;
        border: 2px solid #333;
        border-radius: 50%;
        color: #fff;
        background-color: #deb089;
        font-family: Inter;
        font-size: 10px;
        font-weight: 400;
        line-height: 12.1px;
        text-align: center;
}

    .fastimage {
        width: 356px;
        height: 156px;
        border-radius: 10px;
        position: relative;
        top: -10px;
        left: 35px;
}

    .itemlist_text {
        width: 106px;
        height: 25px;
        position: relative;
        top: 15px;
        left: 35px;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 27.32px;
        text-align: left;  
}

    .border2 {
        width: 358px;
        border: 1px solid #656565;
        position: relative;
        top: 15px;
        left: 35px;
}

    #item_display {
        width: 200px;
        display: grid;
        grid-template-columns: repeat(2, 190px);
        position: relative;
        top: 70px;
        left: 35px;
}

    #item_display img {
        width: 171px;
        height: 171px;
    }

    .border3 {
        width: 358px;
        border: 1px solid #656565;
        position: relative;
        left: 35px;
        top: 180px;
}
    
    .decoration2 {
        position: relative;
        top: 240px;
        left: 180px;
}

    .decoration2 img {
        width: 54px;
        height: 54px;
    }

    .content3 {
        width: 292px;
        height: 16px;
        font-weight: 400px;
        font-size: 12px;
        position: relative;
        top: 220px;
        left: 80px;
    }

    .soldout_message {
        position: absolute;
        top: 40px;
        width: 70px;
        height: 30px;
        color: #fff;
        background-color: #FF8D8D;
        border-radius: 10px;
        font-family: Avenir;
        font-size: 14px;
        font-weight: 500;
        line-height: 19.12px;
        text-align: center;
        padding: 10px 8px 1px 8px;
}

    .noitem_display {
        position: relative;
        left: 65px;
        width: 228px;
        height: 21px;
        font-family: YuGothic;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: -0.05em;
        text-align: left;

    }
}

@media all and (max-width: 376px) {

    .border {
        position: relative;
        left: 25px;
    }

    .decoration1 {
        position: relative;
        left: 20px;
    }

    .item_search {
        position: relative;
        left: -55px;
    }

    .magnifyingglass {
        position: relative;
        left: -50px;
    }

    .image_cart {
        position: absolute;
        left: 352px;
        top: 76px;
    }

    .num_cart {
        position: relative;
        top: 20px;
        left: 3px;
    }

    .fastimage {
        position: relative;
        left: 25px;
    }

    .itemlist_text {
        position: relative;
        left: 25px;
    }

    .border2 {
        position: relative;
        left: 25px;
    }

    #item_display {
        position: relative;
        left: 25px;
    }

    .border3 {
        position: relative;
        top: 200px;
        left: 25px;
    }

    .decoration2 {
        position: relative;
        left: 180px;
        top: 250px;
    }

    .content3 {
        position: relative;
        top: 220px;
        left: 70px;
    }
}

@media all and (max-width: 344px) {

    .border {
        position: relative;
        left: 20px;
    }

    .border3 {
        position: relative;
        left: 20px;
        top: 400px;
    }

    .decoration1 {
        position: relative;
        left: 10px;
    }

    .image_cart {
        position: absolute;
        top: 80px;
        left: 350px;
    }

    .num_cart {
        position: relative;
        top: 23px;
        left: 2px;
    }

    .fastimage {
        position: relative;
        left: 20px;
    }

    .itemlist_text {
        position: relative;
        left: 20px;
    }

    .border2 {
        position: relative;
        left: 20px;
    }

    #item_display {
        position: relative;
        left: 20px;
    }

    .decoration2 {
        position: relative;
        left: 180px;
        top: 500px;
    }

    .content3 {
        position: relative;
        left: 70px;
        top: 450px;
    }
}