body {
    overflow-x: hidden;
}

.layout {
    width: 920px;
    height: 145px;
    margin-top: 42px;
    display: flex;
}
        
.decoration1 {
    width: 145px;
    height: 145px;
    position: relative;
    left: 245px;
    top: 45px;
}
        
.fastimage {
    width: 920px;
    height: 400px;
    border-radius: 10px;
    position: relative;
    top: 100px;
    left: 250px;
}
        
.item_search {
    width: 300px;
    height: 45px;
    position: relative;
    top: 130px;
    left: 350px;
    border-radius: 12px;
}
    
input::placeholder {
    width: 69px;
    height: 21px;
    font-family: Avenir;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.86px;
    text-align: left;
    color: #D0D0D0;
    position: relative;
    left: 20px
}

.magnifyingglass {
    background-color: #deb089;
    width: 90px;
    height: 45px;
    position: relative;
    left: 370px;
    top: 133px;
    border-radius: 12px;
    padding: 10px 15px 10px 15px;
    border: none;
}
        
.shoppingcart_text {
    height: 19px;
    position: relative;
    top: 160px;
    left: 480px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.12px;
    text-align: left;
}
        
.image_cart {
    width: 33px;
    height: 31px;
    position: relative;
    top: 146px;
    left: 493px;
    border: none;
    background-color: white;
}

.image_cart img {
    width: 33px;
    height: 31px;
}
        
.num_cart {
    width: 10px;
    height: 10px;
    position: relative;
    left: 480px;
    top: 131px;
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 12.1px;
    text-align: center;
    padding: 5px 5px 5px 5px;
    border: 2px solid #333;
    border-radius: 50%;
    color: #fff;
    background-color: #deb089;
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 12.1px;
    text-align: center;
}
        
.border {
    width: 920px;
    border: 1px solid #656565;
    position: relative;
    left: 250px;
    top: 42px;
}
        
.itemlist_text {
    width: 100px;
    height: 36px;
    position: relative;
    top: 140px;
    left: 250px;
    font-family: sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 35.52px;
    text-align: left;  
}
        
.border2 {
    width: 920px;
    border: 1px solid #656565;
    position: relative;
    top: 150px;
    left: 250px;
}
        
#item_display {
    width: 920px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    top: 150px;
    left: 250px;
}
    
.items img {
    width: 212px;
    height: 212px;
    margin-top: 40px;
    margin-right: 25px;
}

.border3 {
    width: 920px;
    border: 1px solid #656565;
    position: relative;
    top: 300px;
    left: 250px;
}
        
.decoration2 {
    width: 145px;
    height: 145px;
    position: relative;
    top: 400px;
    left: 650px;
}
        
.content3 {
    width: 292px;
    height: 16px;
    font-weight: 400px;
    font-size: 12px;
    position: relative;
    top: 440px;
    left: 440px;   
}
    
.soldout_message {
    position: relative;
    bottom: 270px;
    width: 70px;
    height: 30px;
    color: #fff;
    background-color: #FF8D8D;
    border-radius: 10px;
    font-family: Avenir;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.12px;
    text-align: center;
    padding: 10px 10px 0px 10px;
}
    
.noitem_display {
    position: relative;
    top: 50px;
    left: 250px;
    width: 450px;
    height: 39px;
    font-family: YuGothic;
    font-size: 26px;
    font-weight: 500;
    line-height: 39px;
}

@media all and (max-width: 1440px) {

    .border {
        position: relative;
        left: 260px;
    }

    .decoration1 {
        position: relative;
        top: 40px;
        left: 255px;
    }

    .item_search {
        position: relative;
        left: 360px;
    }

    .magnifyingglass {
        position: relative;
        left: 370px;
    }

    .shoppingcart_text {
        position: relative;
        left: 490px;
    }

    .image_cart {
        position: relative;
        left: 505px;
    }

    .num_cart {
        position: relative;
        left: 491px;
    }

    .fastimage {
        position: relative;
        left: 260px;
    }

    .itemlist_text {
        position: relative;
        left: 260px;
    }

    .border2 {
        position: relative;
        left: 260px;
    }

    #item_display {
        position: relative;
        left: 260px;
    }

    .border3 {
        position: relative;
        left: 260px;
    }

    .decoration2 {
        position: relative;
        top: 350px;
        left: 650px;
    }

    .content3 {
        position: relative;
        top: 400px;
        left: 440px;
    }
}

@media all and (max-width: 1400px) {

    .border {
        position: relative;
        left: 250px;
    }

    .decoration1 {
        position: relative;
        left: 245px;
    }

    .item_search {
        position: relative;
        left: 360px;
    }

    .magnifyingglass {
        position: relative;
        left: 370px;
    }

    .shoppingcart_text {
        position: relative;
        left: 480px;
    }

    .image_cart {
        position: relative;
        left: 495px;
    }

    .num_cart {
        position: relative;
        left: 482px;
    }

    .fastimage {
        position: relative;
        left: 250px;
    }

    .itemlist_text {
        position: relative;
        left: 250px;
    }

    .border2 {
        position: relative;
        left: 250px;
    }

    #item_display {
        position: relative;
        left: 250px;
    }

    .border3 {
        position: relative;
        left: 250px;
    }

    .decoration2 {
        position: relative;
        left: 640px;
    }

    .content3 {
        position: relative;
        left: 430px;
    }
}

@media all and (max-width: 1390px) {

    .border {
        position: relative;
        left: 240px;
    }

    .decoration1 {
        position: relative;
        left: 235px;
    }

    .item_search {
        position: relative;
        left: 350px;
    }

    .magnifyingglass {
        position: relative;
        left: 360px;
    }

    .shoppingcart_text {
        position: relative;
        left: 470px;
    }

    .image_cart {
        position: relative;
        left: 485px;
    }

    .num_cart {
        position: relative;
        left: 473px;
    }

    .fastimage {
        position: relative;
        left: 240px;
    }

    .itemlist_text {
        position: relative;
        left: 240px;
    }

    .border2 {
        position: relative;
        left: 240px;
    }

    #item_display {
        position: relative;
        left: 240px;
    }

    .border3 {
        position: relative;
        left: 240px;
    }

    .decoration2 {
        position: relative;
        left: 630px;
    }

    .content3 {
        position: relative;
        left: 420px;
    }
}

@media all and (max-width: 1340px) {

    .border {
        position: relative;
        left: 220px;
    }

    .decoration1 {
        position: relative;
        left: 220px;
    }

    .item_search {
        position: relative;
        left: 310px;
    }

    .magnifyingglass {
        position: relative;
        left: 320px;
    }

    .shoppingcart_text {
        position: relative;
        left: 450px;
    }

    .image_cart {
        position: relative;
        left: 465px;
    }

    .num_cart {
        position: relative;
        left: 452px;
    }

    .fastimage {
        position: relative;
        left: 220px;
    }

    .itemlist_text {
        position: relative;
        left: 220px;
    }

    .border2 {
        position: relative;
        left: 220px;
    }

    #item_display {
        position: relative;
        left: 220px;
    }

    .border3 {
        position: relative;
        left: 220px;
    }

    .decoration2 {
        position: relative;
        left: 600px;
    }

    .content3 {
        position: relative;
        left: 400px;
    }
}

@media all and (max-width: 1320px) {

    .border {
        position: relative;
        left: 200px;
    }

    .decoration1 {
        position: relative;
        left: 200px;
    }

    .shoppingcart_text {
        position: relative;
        left: 430px;
    }

    .image_cart {
        position: relative;
        left: 445px;
    }

    .num_cart {
        position: relative;
        left: 432px;
    }

    .fastimage {
        position: relative;
        left: 200px;
    }

    .itemlist_text {
        position: relative;
        left: 200px;
    }

    .border2 {
        position: relative;
        left: 200px;
    }

    #item_display {
        position: relative;
        left: 200px;
    }

    .border3 {
        position: relative;
        left: 200px;
    }

    .decoration2 {
        position: relative;
        left: 600px;
    }

    .content3 {
        position: relative;
        left: 390px;
    }
}

@media all and (max-width: 1300px) {

    .border {
        position: relative;
        left: 190px;
    }

    .decoration1 {
        position: relative;
        left: 190px;
    }

    .item_search {
        position: relative;
        left: 270px;
    }

    .magnifyingglass {
        position: relative;
        left: 275px;
    }

    .shoppingcart_text {
        position: relative;
        left: 420px;
    }

    .image_cart {
        position: relative;
        left: 434px;
    }

    .num_cart {
        position: relative;
        left: 421px;
    }

    .fastimage {
        position: relative;
        left: 190px;
    }

    .itemlist_text {
        position: relative;
        left: 190px;
    }

    .border2 {
        position: relative;
        left: 190px;
    }

    #item_display {
        position: relative;
        left: 190px;
    }

    .border3 {
        position: relative;
        left: 190px;
    }

    .decoration2 {
        position: relative;
        left: 600px;
    }

    .content3 {
        position: relative;
        left: 390px;
    }
} 

@media all and (max-width: 1296px) {

    .border {
        position: relative;
        left: 190px;
    }

    .decoration1 {
        position: relative;
        left: 190px;
    }

    .item_search {
        position: relative;
        left: 290px;
    }

    .magnifyingglass {
        position: relative;
        left: 300px;
    }

    .shoppingcart_text {
        position: relative;
        left: 420px;
    }

    .image_cart {
        position: relative;
        left: 435px;
    }

    .num_cart {
        position: relative;
        left: 422px;
    }

    .fastimage {
        position: relative;
        left: 190px;
    }

    .itemlist_text {
        position: relative;
        left: 190px;
    }

    .border2 {
        position: relative;
        left: 190px;
    }

    #item_display {
        position: relative;
        left: 190px;
    }

    .border3 {
        position: relative;
        left: 190px;
    }

    .decoration2 {
        position: relative;
        left: 590px;
    }

    .content3 {
        position: relative;
        left: 380px;
    }
}

@media all and (max-width: 1250px) {

    .border {
        position: relative;
        left: 165px;
    }

    .decoration1 {
        position: relative;
        left: 160px;
    }

    .item_search {
        position: relative;
        left: 290px;
    }

    .magnifyingglass {
        position: relative;
        left: 300px;
    }

    .shoppingcart_text {
        position: relative;
        left: 390px;
    }

    .image_cart {
        position: relative;
        left: 410px;
    }

    .num_cart {
        position: relative;
        left: 397px;
    }

    .fastimage {
        position: relative;
        left: 165px;
    }

    .itemlist_text {
        position: relative;
        left: 165px;
    }

    .border2 {
        position: relative;
        left: 165px;
    }

    #item_display {
        position: relative;
        left: 165px;
    }

    .border3 {
        position: relative;
        left: 165px;
    }

    .decoration2 {
        position: relative;
        left: 580px;
    }

    .content3 {
        position: relative;
        left: 370px;
    }
}

@media all and (max-width: 1220px) {

    .border {
        position: relative;
        left: 155px;
    }

    .decoration1 {
        position: relative;
        left: 150px;
    }

    .item_search {
        position: relative;
        left: 270px;
    }

    .magnifyingglass {
        position: relative;
        left: 280px;
    }

    .shoppingcart_text {
        position: relative;
        left: 380px;
    }

    .image_cart {
        position: relative;
        left: 400px;
    }

    .num_cart {
        position: relative;
        left: 388px;
    }

    .fastimage {
        position: relative;
        left: 155px;
    }

    .itemlist_text {
        position: relative;
        left: 155px;
    }

    .border2 {
        position: relative;
        left: 155px;
    }

    #item_display {
        position: relative;
        left: 155px;
    }

    .border3 {
        position: relative;
        left: 155px;
    }

    .decoration2 {
        position: relative;
        left: 560px;
    }

    .content3 {
        position: relative;
        left: 350px;
    }
}

@media all and (max-width: 1200px) {

    .border {
        position: relative;
        left: 140px;
    }

    .decoration1 {
        position: relative;
        left: 140px;
    }

    .item_search {
        position: relative;
        left: 230px;
    }

    .magnifyingglass {
        position: relative;
        left: 240px;
    }

    .shoppingcart_text {
        position: relative;
        left: 365px;
    }

    .image_cart {
        position: relative;
        left: 383px;
    }

    .num_cart {
        position: relative;
        left: 370px;
    }

    .fastimage {
        position: relative;
        left: 140px;
    }

    .itemlist_text {
        position: relative;
        left: 140px;
    }

    .border2 {
        position: relative;
        left: 140px;
    }

    #item_display {
        position: relative;
        left: 140px;
    }

    .border3 {
        position: relative;
        left: 140px;
    }

    .decoration2 {
        position: relative;
        left: 540px;
    }

    .content3 {
        position: relative;
        left: 330px;
    }
}

@media all and (max-width: 1180px) {

    .border {
        position: relative;
        left: 130px;
    }

    .decoration1 {
        position: relative;
        left: 120px;
    }

    .item_search {
        position: relative;
        left: 220px;
    }

    .magnifyingglass {
        position: relative;
        left: 230px;
    }

    .shoppingcart_text {
        position: relative;
        left: 360px;
    }

    .image_cart {
        position: relative;
        left: 375px;
    }

    .num_cart {
        position: relative;
        left: 362px;
    }

    .fastimage {
        position: relative;
        left: 130px;
    }

    .itemlist_text {
        position: relative;
        left: 130px;
    }

    .border2 {
        position: relative;
        left: 130px;
    }

    #item_display {
        position: relative;
        left: 130px;
    }

    .border3 {
        position: relative;
        left: 130px;
    }

    .decoration2 {
        position: relative;
        left: 510px;
    }

    .content3 {
        position: relative;
        left: 310px;
    }
}

@media all and (max-width: 1160px) {

    .border {
        position: relative;
        left: 120px;
    }

    .decoration1 {
        position: relative;
        left: 120px;
    }

    .item_search {
        position: relative;
        left: 220px;
    }

    .magnifyingglass {
        position: relative;
        left: 227px;
    }

    .shoppingcart_text {
        position: relative;
        left: 350px;
    }

    .image_cart {
        position: relative;
        left: 367px;
    }

    .num_cart {
        position: relative;
        left: 354px;
    }

    .fastimage {
        position: relative;
        left: 120px;
    }

    .itemlist_text {
        position: relative;
        left: 120px;
    }

    .border2 {
        position: relative;
        left: 120px;
    }

    #item_display {
        position: relative;
        left: 120px;
    }

    .border3 {
        position: relative;
        left: 120px;
    }

    .decoration2 {
        position: relative;
        left: 520px;
    }

    .content3 {
        position: relative;
        left: 310px;
    }
}

@media all and (max-width: 1140px) {

    .border {
        position: relative;
        left: 110px;
    }

    .decoration1 {
        position: relative;
        left: 110px;
    }

    .item_search {
        position: relative;
        left: 210px;
    }

    .magnifyingglass {
        position: relative;
        left: 220px;
    }

    .shoppingcart_text {
        position: relative;
        left: 340px;
    }

    .image_cart {
        position: relative;
        left: 355px;
    }

    .num_cart {
        position: relative;
        left: 341px;
    }

    .fastimage {
        position: relative;
        left: 110px;
    }

    .itemlist_text {
        position: relative;
        left: 110px;
    }

    .border2 {
        position: relative;
        left: 110px;
    }

    #item_display {
        position: relative;
        left: 110px;
    }

    .border3 {
        position: relative;
        left: 110px;
    }

    .decoration2 {
        position: relative;
        left: 510px;
    }

    .content3 {
        position: relative;
        left: 310px;
    }
}

@media all and (max-width: 1120px) {

    .border {
        position: relative;
        left: 100px;
    }

    .decoration1 {
        position: relative;
        left: 90px;
    }

    .item_search {
        position: relative;
        left: 200px;
    }

    .magnifyingglass {
        position: relative;
        left: 210px;
    }

    .shoppingcart_text {
        position: relative;
        left: 330px;
    }

    .image_cart {
        position: relative;
        left: 344px;
    }

    .num_cart {
        position: relative;
        left: 331px;
    }

    .fastimage {
        position: relative;
        left: 100px;
    }

    .itemlist_text {
        position: relative;
        left: 100px;
    }

    .border2 {
        position: relative;
        left: 100px;
    }

    #item_display {
        position: relative;
        left: 100px;
    }

    .border3 {
        position: relative;
        left: 100px;
    }

    .decoration2 {
        position: relative;
        left: 500px;
    }

    .content3 {
        position: relative;
        left: 290px;
    }
}

@media all and (max-width: 1100px) {

    .border {
        position: relative;
        left: 90px;
    }

    .decoration1 {
        position: relative;
        left: 90px;
    }

    .item_search {
        position: relative;
        left: 200px;
    }

    .magnifyingglass {
        position: relative;
        left: 210px;
    }

    .shoppingcart_text {
        position: relative;
        left: 320px;
    }

    .image_cart {
        position: relative;
        left: 334px;
    }

    .num_cart {
        position: relative;
        left: 321px;
    }

    .fastimage {
        position: relative;
        left: 90px;
    }

    .itemlist_text {
        position: relative;
        left: 90px;
    }

    .border2 {
        position: relative;
        left: 90px;
    }

    #item_display {
        position: relative;
        left: 90px;
    }

    .border3 {
        position: relative;
        left: 90px;
    }

    .decoration2 {
        position: relative;
        left: 500px;
    }

    .content3 {
        position: relative;
        left: 290px;
    }
}

@media all and (max-width: 1090px) {

    .border {
        position: relative;
        left: 85px;
    }

    .decoration1 {
        position: relative;
        left: 80px;
    }

    .item_search {
        position: relative;
        left: 195px;
    }

    .magnifyingglass {
        position: relative;
        left: 210px;
    }

    .shoppingcart_text {
        position: relative;
        left: 315px;
    }

    .image_cart {
        position: relative;
        left: 330px;
    }

    .num_cart {
        position: relative;
        left: 318px;
    }

    .fastimage {
        position: relative;
        left: 85px;
    }

    .itemlist_text {
        position: relative;
        left: 85px;
    }

    .border2 {
        position: relative;
        left: 85px;
    }

    #item_display {
        position: relative;
        left: 85px;
    }

    .border3 {
        position: relative;
        left: 85px;
    }

    .decoration2 {
        position: relative;
        left: 470px;
    }

    .content3 {
        position: relative;
        left: 260px;
    }
}

@media all and (max-width: 1080px) {

    .border {
        position: relative;
        left: 82px;
    }

    .decoration1 {
        position: relative;
        left: 80px;
    }

    .item_search {
        position: relative;
        left: 185px;
    }

    .magnifyingglass {
        position: relative;
        left: 200px;
    }

    .shoppingcart_text {
        position: relative;
        left: 310px;
    }

    .image_cart {
        position: relative;
        left: 327px;
    }

    .num_cart {
        position: relative;
        left: 314px;
    }

    .fastimage {
        position: relative;
        left: 82px;
    }

    .itemlist_text {
        position: relative;
        left: 82px;
    }

    .border2 {
        position: relative;
        left: 82px;
    }

    #item_display {
        position: relative;
        left: 82px;
    }

    .border3 {
        position: relative;
        top: 400px;
        left: 82px;
    }

    .decoration2 {
        position: relative;
        top: 450px;
        left: 480px;
    }

    .content3 {
        position: relative;
        top: 500px;
        left: 280px;
    }
}

@media all and (max-width: 1030px) {

    .border {
        position: relative;
        left: 50px;
    }

    .decoration1 {
        position: relative;
        left: 50px;
    }

    .item_search {
        position: relative;
        left: 170px;
    }

    .magnifyingglass {
        position: relative;
        left: 180px;
    }

    .shoppingcart_text {
        position: relative;
        left: 280px;
    }

    .image_cart {
        position: relative;
        left: 295px;
    }

    .num_cart {
        position: relative;
        left: 283px;
    }

    .fastimage {
        position: relative;
        left: 50px;
    }

    .itemlist_text {
        position: relative;
        left: 50px;
    }

    .border2 {
        position: relative;
        left: 50px;
    }

    #item_display {
        position: relative;
        left: 50px;
    }

    .border3 {
        position: relative;
        top: 400px;
        left: 50px;
    }

    .decoration2 {
        position: relative;
        top: 450px;
        left: 450px;
    }

    .content3 {
        position: relative;
        top: 500px;
        left: 240px;
    }
}

@media all and (max-width: 1000px) {

    .border {
        position: relative;
        left: 40px;
    }

    .decoration1 {
        position: relative;
        left: 40px;
    }

    .item_search {
        position: relative;
        left: 170px;
    }

    .magnifyingglass {
        position: relative;
        left: 180px;
    }

    .shoppingcart_text {
        position: relative;
        left: 270px;
    }

    .image_cart {
        position: relative;
        left: 284px;
    }

    .num_cart {
        position: relative;
        left: 271px;
    }

    .fastimage {
        position: relative;
        left: 40px;
    }

    .itemlist_text {
        position: relative;
        left: 40px;
    }

    .border2 {
        position: relative;
        left: 40px;
    }

    #item_display {
        position: relative;
        left: 40px;
    }

    .border3 {
        position: relative;
        top: 400px;
        left: 40px;
    }

    .decoration2 {
        position: relative;
        top: 450px;
        left: 440px;
    }

    .content3 {
        position: relative;
        top: 500px;
        left: 230px;
    }
}

@media all and (max-width: 982px) {

    .border {
        position: relative;
        left: 30px;
    }

    .decoration1 {
        position: relative;
        left: 35px;
    }

    .item_search {
        position: relative;
        left: 150px;
    }

    .magnifyingglass {
        position: relative;
        left: 165px;
    }

    .image_cart {
        position: relative;
        left: 274px;
    }

    .shoppingcart_text {
        position: relative;
        left: 260px;
    }

    .num_cart {
        position: relative;
        left: 261px;
    }

    .fastimage {
        position: relative;
        left: 30px;
    }

    .itemlist_text {
        position: relative;
        left: 30px;
    }

    .border2 {
        position: relative;
        left: 30px;
    }

    #item_display {
        position: relative;
        left: 30px;
    }

    .border3 {
        position: relative;
        left: 25px;
    }

    .decoration2 {
        position: relative;
        top: 500px;
        left: 430px;
    }

    .content3 {
        position: relative;
        top: 550px;
        left: 220px;
    } 
}

@media all and (max-width: 912px) {
    
    .border {
        position: relative;
        left: 25px;
    }

    .decoration1 {
        position: relative;
        left: 25px;
    }

    .item_search {
        position: relative;
        left: 150px;
    }

    .magnifyingglass {
        position: relative;
        left: 165px;
    }

    .shoppingcart_text {
        position: relative;
        left: 260px;
    }

    .image_cart {
        position: relative;
        left: 270px;
    }

    .num_cart {
        position: relative;
        left: 258px;
    }

    .fastimage {
        position: relative;
        left: 25px;
    }

    .itemlist_text {
        position: relative;
        left: 25px;
    }

    .border2 {
        position: relative;
        left: 25px;
    }

    #item_display {
        position: relative;
        left: 25px;
    }

    .border3 {
        position: relative;
        left: 25px;
    }

    .decoration2 {
        position: relative;
        top: 500px;
        left: 420px;
    }

    .content3 {
        position: relative;
        top: 550px;
        left: 210px;
    }
}

@media all and (max-width: 854px) {
    
    .layout {
        width: 534px;
        height: 110px; 
    }

    .decoration1 {
        width: 100px;
        height: 100px;
        position: relative;
        left: 160px;
        top: 0px;
    }

    .item_search {
        width: 200px;
        height: 35px;
        position: relative;
        top: 60px;
        left: 220px;
        border-radius: 12px;
    }

    input::placeholder {
        width: 62px;
        height: 17px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
        text-align: left;
        color: #D0D0D0 
    }

    .magnifyingglass {
        background-color: #deb089;
        width: 60px;
        height: 35px;
        position: relative;
        left: 230px;
        top: 62px;
        padding: 5px 8px 8px 8px;
        border: none;
    }

    .border {
        width: 534px;
        border: 1px solid #656565;
        position: relative;
        left: 160px;
        top: 0px;
    }

    .shoppingcart_text {
        display: none;
    }

    .image_cart {
        width: 33px;
        height: 31px;
        position: relative;
        left: 290px;
        top: 70px;
        border: none;
        background-color: white;
    }

    .num_cart {
        width: 6px;
        height: 6px;
        position: relative;
        left: 279px;
        top: 59px;
        padding: 5px 5px 5px 5px; 
        border: 2px solid #333;
        border-radius: 50%;
        color: #fff;
        background-color: #deb089;
        font-family: Inter;
        font-size: 10px;
        font-weight: 400;
        text-align: center;
    }

    .fastimage {
        width: 534px;
        height: 232px;
        border-radius: 10px;
        position: relative;
        top: 50px;
        left: 160px;
    }

    .itemlist_text {
        width: 106px;
        height: 25px;
        position: relative;
        top: 90px;
        left: 160px;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 27.32px;
        text-align: left;  
    }

    .border2 {
        width: 534px;
        border: 1px solid #656565;
        position: relative;
        top: 90px;
        left: 160px;
    }

    #item_display {
        width: 534px;
        display: grid;
        grid-template-columns: repeat(3, 188px);
        position: relative;
        top: 140px;
        left: 160px;
    }   

    .items {
        width: 162px;
        height: 213px;
        position: relative;
        bottom: 120px;
        margin-top: 70px;
    }

    .items img {
        width: 162px;
        height: 170px;
    }

    .border3 {
        width: 534px;
        border: 1px solid #656565;
        position: relative;
        left: 160px; 
        top: 350px;
    }

    .decoration2 {
        width: 100px;
        height: 100px;
        position: relative;
        top: 450px;
        left: 390px;
    }

    .content3 {
        width: 292px;
        height: 16px;
        font-weight: 400px;
        font-size: 12px;
        position: relative;
        top: 520px;
        left: 200px;
    }

    .soldout_message {
        position: absolute;
        top: 40px;
        width: 70px;
        height: 30px;
        color: #fff;
        background-color: #FF8D8D;
        border-radius: 10px;
        font-family: Avenir;
        font-size: 14px;
        font-weight: 500;
        line-height: 19.12px;
        text-align: center;
        padding: 7px 10px 0px 10px;
    }

    .noitem_display {
        position: relative;
        top: 0px;
        left: 50px;
        width: 450px;
        height: 39px;
        font-family: YuGothic;
        font-size: 26px;
        font-weight: 500;
        line-height: 39px;
    }
}

@media all and (max-width: 830px) {

    .border {
        position: relative;
        left: 150px;
    }

    .decoration1 {
        position: relative;
        left: 150px;
    }

    .item_search {
        position: relative;
        left: 195px;
    }

    .magnifyingglass {
        position: relative;
        left: 205px;
    }

    .image_cart {
        position: relative;
        left: 280px;
    }

    .num_cart {
        position: relative;
        top: 60px;
        left: 268px;
    }

    .fastimage {
        position: relative;
        left: 150px;
    }

    .itemlist_text {
        position: relative;
        left: 150px;
    }

    .border2 {
        position: relative;
        left: 150px;
    }

    #item_display {
        position: relative;
        left: 150px;
    }

    .border3 {
        position: relative;
        left: 150px;
    }

    .decoration2 {
        position: relative;
        top: 430px;
        left: 380px;
    }

    .content3 {
        position: relative;
        top: 500px;
        left: 200px;
    }
}

@media all and (max-width: 800px) {

    .border {
        position: relative;
        left: 140px;
    }

    .decoration1 {
        position: relative;
        left: 140px;
    }

    .item_search {
        position: relative;
        left: 190px;
    }

    .magnifyingglass {
        position: relative;
        left: 195px;
    }

    .image_cart {
        position: relative;
        left: 270px;
    }

    .num_cart {
        position: relative;
        top: 60px;
        left: 258px;
        line-height: 8px;
    }

    .fastimage {
        position: relative;
        left: 140px;
    }

    .itemlist_text {
        position: relative;
        left: 140px;
    }

    .border2 {
        position: relative;
        left: 140px;
    }

    #item_display {
        position: relative;
        left: 140px;
    }

    .border3 {
        position: relative;
        top: 300px;
        left: 140px;
    }

    .decoration2 {
        position: relative;
        top: 350px;
        left: 370px;
    }

    .content3 {
        position: relative;
        top: 400px;
        left: 180px;
    }
}

@media all and (max-width: 790px) {

    .border {
        position: relative;
        left: 130px;
    }

    .decoration1 {
        position: relative;
        left: 130px;
    }

    .item_search {
        position: relative;
        left: 170px;
    }

    .magnifyingglass {
        position: relative;
        left: 180px;
    }

    .image_cart {
        position: relative;
        left: 261px;
    }

    .num_cart {
        position: relative;
        top: 60px;
        left: 250px;
    }

    .fastimage {
        position: relative;
        left: 130px;
    }

    .itemlist_text {
        position: relative;
        left: 130px;
    }

    .border2 {
        position: relative;
        left: 130px;
    }

    #item_display {
        position: relative;
        left: 130px;
    }

    .border3 {
        position: relative;
        top: 300px;
        left: 130px;
    }

    .decoration2 {
        position: relative;
        top: 350px;
        left: 360px;
    }

    .content3 {
        position: relative;
        top: 400px;
        left: 170px;
    }
}

@media all and (max-width: 770px) {

    .border {
        position: relative;
        left: 115px;
    }

    .decoration1 {
        position: relative;
        left: 120px;
    }

    .image_cart {
        position: relative;
        left: 244px;
    }

    .num_cart {
        position: relative;
        left: 232px;
    }

    .fastimage {
        position: relative;
        left: 115px;
    }

    .itemlist_text {
        position: relative;
        left: 115px;
    }

    .border2 {
        position: relative;
        left: 115px;
    }

    #item_display {
        position: relative;
        left: 115px;
    }

    .border3 {
        position: relative;
        left: 115px;
    }

    .decoration2 {
        position: relative;
        left: 350px;
    }

    .content3 {
        position: relative;
        left: 160px;
    }
}

@media all and (max-width: 720px) {

    .border {
        position: relative;
        left: 90px;
    }

    .decoration1 {
        position: relative;
        left: 90px;
    }

    .item_search {
        position: relative;
        left: 135px;
    }

    .magnifyingglass {
        position: relative;
        left: 145px;
    }

    .image_cart {
        position: relative;
        left: 221px;
    }

    .num_cart {
        position: relative;
        top: 60px;
        left: 209px;
        line-height: 8px;
    }

    .fastimage {
        position: relative;
        left: 90px;
    }

    .itemlist_text {
        position: relative;
        left: 90px;
    }

    .border2 {
        position: relative;
        left: 90px;
    }

    #item_display {
        position: relative;
        left: 90px;
    }

    .border3 {
        position: relative;
        left: 90px;
    }

    .decoration2 {
        position: relative;
        left: 320px;
    }

    .content3 {
        position: relative;
        left: 130px;
    }
}

@media all and (max-width: 690px) {

    .border {
        position: relative;
        left: 80px;
    }

    .decoration1 {
        position: relative;
        left: 80px;
    }

    .image_cart {
        position: relative;
        left: 212px;
    }

    .num_cart {
        position: relative;
        top: 60px;
        left: 200px;
    }

    .fastimage {
        position: relative;
        left: 80px;
    }

    .itemlist_text {
        position: relative;
        left: 80px;
    }

    .border2 {
        position: relative;
        left: 80px;
    }

    #item_display {
        position: relative;
        left: 80px;
    }

    .border3 {
        position: relative;
        left: 80px;
    }

    .decoration2 {
        position: relative;
        left: 310px;
    }

    .content3 {
        position: relative;
        left: 120px;
    }
}

@media all and (max-width: 650px) {

    .border {
        position: relative;
        left: 55px;
    }

    .decoration1 {
        position: relative;
        left: 60px;
    }

    .item_search {
        position: relative;
        left: 115px;
    }

    .magnifyingglass {
        position: relative;
        left: 125px;
    }

    .image_cart {
        position: relative;
        left: 185px;
    }

    .num_cart {
        position: relative;
        left: 174px;
    }

    .fastimage {
        position: relative;
        left: 55px;
    }

    .itemlist_text {
        position: relative;
        left: 55px;
    }

    .border2 {
        position: relative;
        left: 55px;
    }

    #item_display {
        position: relative;
        left: 55px;
    }

    .border3 {
        position: relative;
        left: 55px;
    }

    .decoration2 {
        position: relative;
        left: 270px;
    }

    .content3 {
        position: relative;
        left: 80px;
    }
}

@media all and (max-width: 600px) {

    .border {
        position: relative;
        left: 30px;
    }

    .decoration1 {
        position: relative;
        left: 30px;
    }

    .item_search {
        position: relative;
        left: 90px;
    }

    .magnifyingglass {
        position: relative;
        left: 100px;
    }

    .image_cart {
        position: relative;
        left: 161px;
    }

    .num_cart {
        position: relative;
        left: 148px;
        line-height: 8px;
    }

    .fastimage {
        position: relative;
        left: 30px;
    }

    .itemlist_text {
        position: relative;
        left: 30px;
    }

    .border2 {
        position: relative;
        left: 30px;
    }

    #item_display {
        position: relative;
        left: 30px;
    }

    .border3 {
        position: relative;
        top: 300px;
        left: 30px;
    }

    .decoration2 {
        position: relative;
        left: 240px;
    }

    .content3 {
        position: relative;
        left: 50px;
    }
}

@media all and (max-width: 480px) {

    .layout {
        width: 390px;
        height: 110px; 
    }

    .decoration1 {
        width: 54px;
        height: 54px;
        position: relative;
        left: 55px;
        top: 10px;
    }

    .item_search {
        width: 200px;
        height: 26px;
        position: relative;
        top: 25px;
        left: 70px;
        border-radius: 12px;
    }

    input::placeholder {
        height: 14px;
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 16.94px;
        text-align: left;
        color: #D0D0D0;
        position: relative;
        left: 10px;
    }

    .magnifyingglass {
        background-color: #deb089;
        width: 40px;
        height: 26px;
        position: relative;
        left: 75px;
        top: 27px;
        padding: 1px 1px 1px 1px;
        border-radius: 8px;
    }

    .magnifyingglass_image {
        width: 10px;
        height: 12px;
    }

    .border {
        width: 358px;
        border: 1px solid #656565;
        position: relative;
        left: 60px;
        top: -45px;
    }

    .shoppingcart_text {
        display: none;
    }

    .image_cart {
        position: absolute;
        top: 72px;
        left: 387px;
    }

    .image_cart img {
        width: 26px;
        height: 24px;
    }

    .num_cart {
        width: 5px;
        height: 5px;
        position: relative;
        left: 105px;
        top: 20px;
        border: 2px solid #333;
        border-radius: 50%;
        color: #fff;
        background-color: #deb089;
        font-family: Inter;
        font-size: 10px;
        font-weight: 400;
        line-height: 6px;
        text-align: center;
    }

    .fastimage {
        width: 356px;
        height: 156px;
        border-radius: 10px;
        position: relative;
        top: -10px;
        left: 60px;
    }

    .itemlist_text {
        width: 106px;
        height: 25px;
        position: relative;
        top: 15px;
        left: 60px;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 27.32px;
        text-align: left;  
    }

    .border2 {
        width: 358px;
        border: 1px solid #656565;
        position: relative;
        top: 15px;
        left: 60px;
    }

    #item_display {
        width: 200px;
        display: grid;
        grid-template-columns: repeat(2, 190px);
        position: relative;
        top: 70px;
        left: 60px;
    }

    #item_display img {
        width: 171px;
        height: 171px;
    }

    .border3 {
        width: 358px;
        border: 1px solid #656565;
        position: relative;
        left: 60px;
        top: 180px;
    }
    
    .decoration2 {
        width: 54px;
        height: 54px;
        position: relative;
        top: 240px;
        left: 215px;
    }

    .content3 {
        width: 292px;
        height: 16px;
        font-weight: 400px;
        font-size: 12px;
        position: relative;
        top: 280px;
        left: 55px;
    }

    .soldout_message {
        position: absolute;
        top: 40px;
        width: 70px;
        height: 30px;
        color: #fff;
        background-color: #FF8D8D;
        border-radius: 10px;
        font-family: Avenir;
        font-size: 14px;
        font-weight: 500;
        line-height: 19.12px;
        text-align: center;
        padding: 10px 8px 1px 8px;
    }

    .noitem_display {
        position: relative;
        left: 65px;
        width: 228px;
        height: 21px;
        font-family: YuGothic;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: -0.05em;
        text-align: left;
    }
}

@media all and (max-width: 430px) {

    .border {
        position: relative;
        left: 35px;
    }

    .decoration1 {
        position: relative;
        left: 35px;
    }

    .image_cart {
        position: relative;
        top: 30px;
        left: 62px;
    }

    .fastimage {
        position: relative;
        left: 35px;
    }

    .itemlist_text {
        position: relative;
        left: 35px;
    }

    .border2 {
        position: relative;
        left: 35px;
    }

    .num_cart {
        position: relative;
        left: 45px;
    }

    #item_display {
        position: relative;
        left: 35px;
    }

    .item_search {
        position: relative;
        top: 25px;
        left: 45px;
        border-radius: 12px;
    }

    .magnifyingglass {
        position: relative;
        left: 50px;
        top: 27px;
    }

    .border3 {
        position: relative;
        left: 35px;
    }

    .decoration2 {
        position: relative;
        left: 190px;
    }

    .content3 {
        position: relative;
        top: 280px;
        left: 20px;
    }
}

@media all and (max-width: 414px) {

    .border {
        position: relative;
        left: 25px;
    }

    .decoration1 {
        position: relative;
        left: 25px;
    }

    .image_cart {
        position: relative;
        top: 30px;
        left: 52px;
    }

    .fastimage {
        position: relative;
        left: 25px;
    }

    .itemlist_text {
        position: relative;
        left: 25px;
    }

    .border2 {
        position: relative;
        left: 25px;
    }

    .num_cart {
        position: relative;
        left: 36px;
    }

    #item_display {
        position: relative;
        left: 25px;
    }

    .item_search {
        position: relative;
        top: 25px;
        left: 40px;
        border-radius: 12px;
    }

    .magnifyingglass {
        position: relative;
        left: 45px;
        top: 27px;
    }

    .border3 {
        position: relative;
        left: 25px;
    }

    .decoration2 {
        position: relative;
        left: 180px;
    }

    .content3 {
        position: relative;
        top: 280px;
        left: 10px;
    }  
}

@media all and (max-width: 390px) {

    .border {
        position: relative;
        left: 30px;
    }

    .decoration1 {
        position: relative;
        left: 30px;
    }

    .image_cart {
        position: relative;
        top: 28px;
        left: 57px;
    }

    .fastimage {
        position: relative;
        left: 30px;
    }

    .itemlist_text {
        position: relative;
        left: 30px;
    }

    .border2 {
        position: relative;
        left: 30px;
    }

    .num_cart {
        position: relative;
        top: 18px;
        left: 40px;
    }

    #item_display {
        position: relative;
        left: 30px;
    }

    .item_search {
        position: relative;
        top: 25px;
        left: 45px;
        border-radius: 12px;
    }

    .magnifyingglass {
        position: relative;
        left: 50px;
        top: 28px;
    }

    .border3 {
        position: relative;
        left: 30px;
    }

    .decoration2 {
        position: relative;
        left: 180px;
    }

    .content3 {
        position: relative;
        top: 280px;
        left: 20px;
    }
}

@media all and (max-width: 376px) {

    .border {
        position: relative;
        left: 25px;
    }

    .decoration1 {
        position: relative;
        left: 25px;
    }

    .item_search {
        position: relative;
        left: 40px;
    }

    .magnifyingglass {
        position: relative;
        top: 27px;
        left: 45px;
    }

    .image_cart {
        position: absolute;
        left: 352px;
        top: 73px;
    }

    .num_cart {
        position: relative;
        top: 20px;
        left: 70px;
    }

    .fastimage {
        position: relative;
        left: 25px;
    }

    .itemlist_text {
        position: relative;
        left: 25px;
    }

    .border2 {
        position: relative;
        left: 25px;
    }

    #item_display {
        position: relative;
        left: 25px;
    }

    .border3 {
        position: relative;
        top: 200px;
        left: 25px;
    }

    .decoration2 {
        position: relative;
        left: 180px;
        top: 250px;
    }

    .content3 {
        position: relative;
        top: 300px;
    }
}

@media all and (max-width: 320px) {
    .content3 {
        position: relative;
        left: 70px;
    }
}