.layout {
    width: 920px;
    margin-top: 42px;
    margin-left: 260px;
    display: flex;
}

.decoration {
    width: 145px;
    height: 145px;
    position: relative;
    right: 20px;
    top: 10px;
    background-color: #fff;
    border:none;
}

.shoppingcart_text {
    width: 92px;
    height: 19px;
    position: relative;
    top: 120px;
    left: 610px;
}

.name_text {
    height: 36px;
    position: relative;
    bottom: 330px;
    margin-left: 830px;
    font-family: sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 35.52px;
    text-align: left;
}

.size_text {
    width: 35px;
    height: 25px;
    position: relative;
    left: 830px;
    bottom: 290px;
    font-weight: 400px;
    font-size: 18px;
    font-family: sans-serif;
}

.quantity_text {
    width: 35px;
    height: 25px;
    position: relative;
    left: 830px;
    bottom: 300px;
    font-weight: 400px;
    font-size: 18px;
    font-family: sans-serif;
}

.price_text {
    width: 167px;
    height: 39px;
    position: relative;
    left: 825px;
    bottom: 320px;
    font-weight: 500;
    font-size: 23px;
}

.numdisplay_size {
    width: 80px;
    height: 45px;
    position: relative;
    left: 950px;
    bottom: 320px;
    border-radius: 10px;
}

.numdisplay_quantity {
    width: 80px;
    height: 45px;
    position: relative;
    left: 950px;
    bottom: 330px;
    border-radius: 10px;
}

.image_cart {
    position: relative;
    left: 635px;
    top: 55px;
    border: none;
    background-color: #fff;
}

.num_cart {
    width: 10px;
    height: 10px;
    position: relative;
    top: 95px;
    left: 613px;
    padding: 5px 5px 5px 5px;
    border: 2px solid #333;
    border-radius: 50%;
    color: #fff;
    background-color: #deb089;
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 12.1px;
    text-align: center;
}

.border {
    width: 920px;
    position: relative;
    left: 250px;
    top: 10px;
    border: 1px solid #656565;
}

#img img{
    width: 448px;
    height: 448px;
    position: relative;
    top: 70px;
    left: 250px;
    border-radius: 10px;
}

#cart_button {
    width: 330px;
    height: 70px;
    position: relative;
    left: 830px;
    bottom: 300px;
    background-color: #deb089;
    color: #fff;
    border: none;
    border-radius: 10px;
}

#cart_button:disabled {
    background-color: #DEB08999;
}

.border2 {
    width: 920px;
    position: relative;
    bottom: 50px;
    left: 250px;
    border: 1px solid #656565;
}

.decoration2 {
    width: 145px;
    height: 145px;
    position: relative;
    top: 10px;
    left: 650px;
}

.content6 {
    width: 292px;
    height: 16px;
    position: relative;
    top: 50px;
    left: 580px;
    font-weight: 400;
    font-size: 12px;
    font-family: sans-serif;
}

@media all and (max-width: 1280px) {

    .border {
        position: relative;
        left: 180px;
    }

    .decoration {
        position: relative;
        right: 120px;
    }

    .shoppingcart_text {
        position: relative;
        left: 480px;
    }

    .image_cart {
        position: relative;
        left: 560px;
    }

    .num_cart {
        position: relative;
        left: 537px;
    }

    #img img {
        position: relative;
        left: 180px;
    }

    .name_text {
        position: relative;
        right: 60px;
    }

    .size_text {
        position: relative;
        left: 770px;
    }

    .numdisplay_size {
        position: relative;
        left: 880px
    }

    .quantity_text {
        position: relative;
        left: 770px;
    }

    .numdisplay_quantity {
        position: relative;
        left: 880px;
    }

    .price_text {
        position: relative;
        left: 760px;
    }

    #cart_button {
        position: relative;
        left: 770px;
    }

    .border2 {
        position: relative;
        left: 180px;
    }

    .decoration2 {
        position: relative;
        left: 580px;
    }

    .content6 {
        position: relative;
        left: 510px;
    }
}

@media all and (max-width: 1024px) {

    .border {
        position: relative;
        left: 150px;
    }

    .decoration {
        position: relative;
        right: 140px;
    }

    .shoppingcart_text {
        position: relative;
        left: 430px;
    }

    .image_cart {
        position: relative;
        left: 530px;
    }

    .num_cart {
        position: relative;
        left: 508px;
    }

    #img img {
        position: relative;
        left: 150px;
    }

    .name_text {
        position: relative;
        right: 80px;
    }

    .size_text {
        position: relative;
        left: 750px;
    }

    .numdisplay_size {
        position: relative;
        left: 850px;
    }

    .quantity_text {
        position: relative;
        left: 750px;
    }

    .numdisplay_quantity {
        position: relative;
        left: 850px;
    }

    .price_text {
        position: relative;
        left: 750px;
    }

    .border2 {
        position: relative;
        left: 150px;
    }

    .decoration2 {
        position: relative;
        left: 550px;
    }

    .content6 {
        position: relative;
        left: 500px;
    }

    #cart_button {
        position: relative;
        left: 750px;
    }
}

@media all and (max-width: 1024px) and (min-height: 1366px) {

    .border {
        position: relative;
        left: 60px;
    }

    .decoration {
        position: relative;
        right: 230px;
    }

    .shoppingcart_text {
        position: relative;
        left: 390px;
    }

    .image_cart {
        position: relative;
        left: 440px;
    }

    .num_cart {
        position: relative;
        left: 419px;
    }

    #img img {
        position: relative;
        left: 60px;
    }

    .name_text {
        position: relative;
        right: 200px;
    }

    .size_text {
        position: relative;
        left: 630px;
    }

    .numdisplay_size {
        position: relative;
        left: 750px;
    }

    .quantity_text {
        position: relative;
        left: 630px;
    }

    .numdisplay_quantity {
        position: relative;
        left: 750px;
    }

    .price_text {
        position: relative;
        left: 620px;
    }

    .border2 {
        position: relative;
        top: 100px;
        left: 60px;
    }

    .decoration2 {
        position: relative;
        top: 150px;
        left: 480px;
    }

    .content6 {
        position: relative;
        top: 230px;
        left: 420px;
    }

    #cart_button {
        position: relative;
        left: 630px;
    }
}

@media all and (max-width: 912px) and (min-height: 1368px) {

    .layout {
        width: 700px;
    }

    .border {
        position: relative;
        left: 25px;
    }

    .decoration {
        position: relative;
        right: 265px;
    }

    .shoppingcart_text {
        position: relative;
        left: 325px;
    }

    .image_cart {
        position: relative;
        left: 405px;
    }

    .num_cart {
        position: relative;
        left: 383px;
    }

    #img img {
        position: relative;
        top: 200px;
        left: 25px;
    }

    .name_text {
        width: 180px;
        position: relative;
        bottom: 220px;
        right: 230px;
    }

    .size_text {
        position: relative;
        bottom: 180px;
        left: 600px;
        
    }

    .numdisplay_size {
        position: relative;
        bottom: 210px;
        left: 720px;
    }

    .quantity_text {
        position: relative;
        bottom: 190px;
        left: 600px;
    }

    .numdisplay_quantity {
        position: relative;
        bottom: 220px;
        left: 720px;
    }

    .price_text {
        position: relative;
        bottom: 170px;
        left: 600px;
    }

    #cart_button {
        position: relative;
        bottom: 150px;
        left: 600px;
    }
    
    .border2 {
        position: relative;
        left: 25px;
        top: 280px;
    }

    .decoration2 {
        position: relative;
        top: 350px;
        left: 400px;
    }

    .content6 {
        position: relative;
        top: 400px;
        left: 340px;
    }
}

@media all and (max-width: 854px) {
    
    .layout {
        width: 534px;
        height: 110px;
        display: flex;
    }
    
    .decoration {
        position: relative;
        right: 160px;
        top: 0px;
        background-color: #fff;
        border:none;
    }

    .decoration img {
        width: 100px;
        height: 100px;
    }
    
    .shoppingcart_text {
        display: none;
    }
    
    .name_text {
        width: 300px;
        position: relative;
        top: 110px;
        right: 520px;
        font-family: sans-serif;
        font-size: 26px;
        font-weight: 400;
        line-height: 35.52px;
        text-align: left;
    }
    
    .size_text {
        width: 35px;
        height: 25px;
        position: relative;
        left: 0px;
        left: 280px;
        top: 150px;
        font-weight: 400px;
        font-size: 18px;
        font-family: sans-serif;
    }
    
    .quantity_text {
        width: 35px;
        height: 25px;
        position: relative;
        left: 0px;
        left: 280px;
        top: 150px;
        font-weight: 400px;
        font-size: 18px;
        font-family: sans-serif;
    }
    
    .price_text {
        width: 167px;
        height: 39px;
        position: relative;
        left: 0px;
        left: 320px;
        top: 150px;
        font-weight: 500;
        font-size: 23px;
    }
    
    .numdisplay_size {
        width: 80px;
        height: 45px;
        position: relative;
        left: 0px;
        left: 400px;
        top: 120px;
        border-radius: 10px;
    }
    
    .numdisplay_quantity {
        width: 80px;
        height: 45px;
        position: relative;
        left: 0px;
        left: 400px;
        top: 110px;
        border-radius: 10px;
    }

    .image_cart {
        position: relative;
        top: 0px;
        left: 0px;
        top: 40px;
        left: 210px;
        border: none;
        background-color: #fff;
    }
    
    .num_cart {
        width: 10px;
        height: 10px;
        position: relative;
        left: 190px;
        top: 62px;
        padding: 5px 5px 5px 5px;
        border: 2px solid #333;
        border-radius: 50%;
        color: #fff;
        background-color: #deb089;
        font-family: Inter;
        font-size: 10px;
        font-weight: 400;
        line-height: 12.1px;
        text-align: center;
    }
    
    .border {
        width: 534px;
        position: relative;
        left: 120px;
        top: 10px;
        border: 1px solid #656565;
        }
    
    #img img{
        width: 348px;
        height: 348px;
        position: relative;
        top: 70px;
        left: 230px;
        border-radius: 10px;
        }
        
    #cart_button {
        width: 348px;
        height: 70px;
        position: relative;
        left: 0px;
        left: 230px;
        top: 200px;
        background-color: #deb089;
        color: #fff;
        border: none;
        border-radius: 10px;
    }

    .border2 {
        width: 534px;
        position: relative;
        top: 380px;
        left: 120px;
        border: 1px solid #656565;
    }
    
    .decoration2 {
        position: relative;
        top: 450px;
        left: 350px;
    }

    .decoration2 img {
        width: 100px;
        height: 100px;
    }
    
    .content6 {
        width: 292px;
        height: 16px;
        position: relative;
        top: 450px;
        left: 260px;
        font-weight: 400;
        font-size: 12px;
        font-family: sans-serif;
    }
}

@media all and (max-width: 430px) {
    
    .layout {
        width: 130px;
        height: 54px;
        display: flex;
}
    
    .decoration {
        position: relative;
        top: -50px;
        right: 0px;
        right: 260px;
        background-color: #fff;
        border: none;
    }

    .decoration img {
        width: 54px;
        height: 54px;
    }
    
    .shoppingcart_text {
        display: none;
    }
    
    .name_text {
        width: 280px;
        position: relative;
        top: 60px;
        right: 0px;
        right: 700px;
        font-family: sans-serif;
        font-size: 26px;
        font-weight: 400;
        line-height: 35.52px;
        text-align: left;
    }
    
    .size_text {
        width: 35px;
        height: 25px;
        position: relative;
        left: 0px;
        left: 100px;
        top: 90px;
        font-weight: 400px;
        font-size: 18px;
        font-family: sans-serif;
    }
    
    .quantity_text {
        width: 35px;
        height: 25px;
        position: relative;
        left: 0px;
        left: 100px;
        top: 80px;
        font-weight: 400px;
        font-size: 18px;
        font-family: sans-serif;
    }
    
    .price_text {
        width: 167px;
        height: 39px;
        position: relative;
        left: 0px;
        left: 140px;
        top: 70px;
        font-weight: 500;
        font-size: 23px;
    }
    
    .numdisplay_size {
        width: 80px;
        height: 45px;
        position: relative;
        left: 0px;
        left: 220px;
        top: 60px;
        border-radius: 10px;
    }
    
    .numdisplay_quantity {
        width: 80px;
        height: 45px;
        position: relative;
        left: 0px;
        left: 220px;
        top: 45px;
        border-radius: 10px;
    }
    
    .image_cart {
        position: absolute;
        top: 60px;
        left: 365px;
        border: none;
        background-color: #fff;
    }

    .image_cart img {
        width: 26px;
        height: 24px;
    }
    
    .num_cart {
        width: 10px;
        height: 10px;
        position: relative;
        left: 18px;
        top: 3px;
        padding: 5px 7px 5px 7px;
        border: 2px solid #333;
        border-radius: 50%;
        color: #fff;
        background-color: #deb089;
        font-family: Inter;
        font-size: 10px;
        font-weight: 400;
        line-height: 12.1px;
        text-align: center;
    }
    
    .border {
        width: 358px;
        position: relative;
        left: 35px;
        top: -5px;
        border: 1px solid #656565;
    }
    
    #img {
        position: relative;
        top: -30px;
        right: 95px;
        border-radius: 10px;
    }

    #img img {
        width: 171px;
        height: 171px;
    }
    
    #cart_button {
        width: 348px;
        height: 70px;
        position: relative;
        left: 35px;
        top: 100px;
        background-color: #deb089;
        color: #fff;
        border: none;
        border-radius: 10px;
    }

    .border2 {
        width: 358px;
        position: relative;
        top: 200px;
        left: 35px;
        border: 1px solid #656565;
    }
    
    .decoration2 {
        width: 54px;
        height: 54px;
        position: relative;
        top: 250px;
        left: 190px;
    }

    .decoration2 img {
        width: 54px;
        height: 54px;
    }
    
    .content6 {
        width: 232px;
        height: 16px;
        position: relative;
        top: 300px;
        left: 80px;
        font-weight: 400;
        font-size: 12px;
        font-family: sans-serif; 
    }
}

@media all and (max-width: 390px) {

    .border {
        position: relative;
        left: 25px;
    }

    .decoration {
        position: relative;
        right: 270px;
    }

    .image_cart {
        position: absolute;
        left: 353px;
        top: 63px;
    }

    .num_cart {
        position: relative;
        left: 7px;
        top: 5px;
    }

    #img {
        position: relative;
        right: 100px;
    }

    #cart_button {
        position: relative;
        left: 25px;
    }

    .border2 {
        position: relative;
        left: 25px;
    }

    .decoration2 {
        position: relative;
        left: 180px;
    }

    .content6 {
        position: relative;
        left: 68px;
    }
}

@media all and (max-width: 376px) {
    
    .image_cart {
        position: absolute;
        left: 355px;
        top: 63px;
    }

    .num_cart {
        position: relative;
        left: 7px;
        top: 4px;
    }

    #cart_button {
        position: relative;
        left: 30px;
    }
}

@media all and (max-width: 344px) and (min-height: 882px) {

    .border {
        position: relative;
        left: 25px;
    }

    .decoration {
        position: relative;
        right: 270px;
    }

    .image_cart {
        position: absolute;
        left: 355px;
        top: 60px;
    }

    .num_cart {
        position: relative;
        left: 8px;
        top: 1px;
    }

    #img {
        position: relative;
        right: 100px;
    }

    #cart_button {
        position: relative;
        left: 30px;
    }

    .border2 {
        position: relative;
        top: 250px;
        left: 25px;
    }

    .decoration2 {
        position: relative;
        left: 180px;
        top: 350px;
    }

    .content6 {
        position: relative;
        top: 400px;
    }
}
    