@media all and (max-width: 1440px) {
    .Layout {
        width: 920px;
        height: 145px;
        margin-top: 42px;
        margin-left: 260px;
        display: flex;
    }

    .decoration {
        width: 145px;
        height: 145px;
        position: relative;
        right: 20px;
        top: 100px;
        background-color: #fff;
        border:none;
    }

    .ShoppingCart_text {
        width: 92px;
        height: 19px;
        position: relative;
        top: 220px;
        left: 610px;
    }

    .Name_text {
        position: relative;
        left: 850px;
        bottom: 150px;
        font-family: sans-serif;
        font-size: 26px;
        font-weight: 400;
        line-height: 35.52px;
        text-align: left;
    }

    .Size_text {
        width: 35px;
        height: 25px;
        position: relative;
        left: 850px;
        bottom: 100px;
        font-weight: 400px;
        font-size: 18px;
        font-family: sans-serif;
    }

    .quantity_text {
        width: 35px;
        height: 25px;
        position: relative;
        left: 850px;
        bottom: 120px;
        font-weight: 400px;
        font-size: 18px;
        font-family: sans-serif;
    }

    .Price_text {
        width: 167px;
        height: 39px;
        position: relative;
        left: 850px;
        bottom: 100px;
        font-weight: 500;
        font-size: 23px;
    }

    .numdisplay {
        width: 80px;
        height: 45px;
        position: relative;
        left: 1000px;
        bottom: 140px;
        border-radius: 10px;
    }

    .numdisplay2 {
        width: 80px;
        height: 45px;
        position: relative;
        left: 1000px;
        bottom: 150px;
        border-radius: 10px;
    }

    #imagecart {
        position: relative;
        left: 635px;
        top: 155px;
        border: none;
        background-color: #fff;
    }

    #imagecart img {
        width: 33px;
        height: 31px;
    }

    .num_cart {
        width: 10px;
        height: 10px;
        position: relative;
        top: 195px;
        left: 615px;
        padding: 5px 5px 5px 5px;
        border: 2px solid #333;
        border-radius: 50%;
        color: #fff;
        background-color: #deb089;
        font-family: Inter;
        font-size: 10px;
        font-weight: 400;
        line-height: 12.1px;
        text-align: center;
    }

    .border {
        width: 920px;
        position: relative;
        left: 250px;
        top: 100px;
        border: 1px solid #656565;
    }

    #img img{
        width: 448px;
        height: 448px;
        position: relative;
        top: 200px;
        left: 250px;
        border-radius: 10px;
    }

    #cart_button {
        width: 330px;
        height: 70px;
        position: relative;
        left: 850px;
        bottom: 60px;
        background-color: #deb089;
        color: #fff;
        border: none;
        border-radius: 10px;
    }

    #cart_button:disabled {
        background-color: #DEB08999;
    }

    .border2 {
        width: 920px;
        position: relative;
        top: 100px;
        left: 250px;
        border: 1px solid #656565;
    }

    .decoration2 {
        width: 145px;
        height: 145px;
        position: relative;
        top: 200px;
        left: 650px;
    }

    .content6 {
        width: 292px;
        height: 16px;
        position: relative;
        top: 250px;
        left: 580px;
        font-weight: 400;
        font-size: 12px;
        font-family: sans-serif;
    }
}

@media all and (max-width: 768px) {
    
    .Layout {
        width: 534px;
        height: 110px;
        display: flex;
    }
    
    .decoration {
        position: relative;
        right: 140px;
        top: 0px;
        background-color: #fff;
        border:none;
    }

    .decoration img {
        width: 100px;
        height: 100px;
    }
    
    .ShoppingCart_text {
        display: none;
    }
    
    .Name_text {
        position: relative;
        top: 130px;
        left: 0px;
        left: 280px;
        font-family: sans-serif;
        font-size: 26px;
        font-weight: 400;
        line-height: 35.52px;
        text-align: left;
    }
    
    .Size_text {
        width: 35px;
        height: 25px;
        position: relative;
        left: 0px;
        left: 280px;
        top: 180px;
        font-weight: 400px;
        font-size: 18px;
        font-family: sans-serif;
    }
    
    .quantity_text {
        width: 35px;
        height: 25px;
        position: relative;
        left: 0px;
        left: 280px;
        top: 180px;
        font-weight: 400px;
        font-size: 18px;
        font-family: sans-serif;
    }
    
    .Price_text {
        width: 167px;
        height: 39px;
        position: relative;
        left: 0px;
        left: 320px;
        top: 200px;
        font-weight: 500;
        font-size: 23px;
    }
    
    .numdisplay {
        width: 80px;
        height: 45px;
        position: relative;
        left: 0px;
        left: 400px;
        top: 150px;
        border-radius: 10px;
    }
    
    .numdisplay2 {
        width: 80px;
        height: 45px;
        position: relative;
        left: 0px;
        left: 400px;
        top: 150px;
        border-radius: 10px;
    }

    #imagecart {
        position: relative;
        top: 0px;
        left: 0px;
        top: 40px;
        left: 240px;
        border: none;
        background-color: #fff;
    }
    
    #imagecart img {
        width: 33px;
        height: 31px;
    }
    
    .num_cart {
        width: 10px;
        height: 10px;
        position: relative;
        left: 220px;
        top: 62px;
        padding: 5px 5px 5px 5px;
        border: 2px solid #333;
        border-radius: 50%;
        color: #fff;
        background-color: #deb089;
        font-family: Inter;
        font-size: 10px;
        font-weight: 400;
        line-height: 12.1px;
        text-align: center;
    }
    
    .border {
        width: 534px;
        position: relative;
        left: 150px;
        top: 10px;
        border: 1px solid #656565;
        }
    
    #img img{
        width: 348px;
        height: 348px;
        position: relative;
        top: 70px;
        left: 250px;
        border-radius: 10px;
        }
        
    #cart_button {
        width: 348px;
        height: 70px;
        position: relative;
        left: 0px;
        left: 250px;
        top: 250px;
        background-color: #deb089;
        color: #fff;
        border: none;
        border-radius: 10px;
    }

    .border2 {
        width: 534px;
        position: relative;
        top: 350px;
        left: 150px;
        border: 1px solid #656565;
    }
    
    .decoration2 {
        position: relative;
        top: 400px;
        left: 350px;
    }

    .decoration2 img {
        width: 100px;
        height: 100px;
    }
    
    .content6 {
        width: 292px;
        height: 16px;
        position: relative;
        top: 450px;
        left: 260px;
        font-weight: 400;
        font-size: 12px;
        font-family: sans-serif;
    }
}

    @media all and (max-width: 390px) {
    
        .Layout {
            width: 358px;
            height: 54px;
            display: flex;
        }
        
        .decoration {
            position: relative;
            top: 0px;
            right: 0px;
            right: 160px;
            background-color: #fff;
            border: none;
        }

        .decoration img {
            width: 54px;
            height: 54px;
        }
        
        .ShoppingCart_text {
            display: none;
        }
        
        .Name_text {
            position: relative;
            top: 200px;
            left: 250px;
            font-family: sans-serif;
            font-size: 26px;
            font-weight: 400;
            line-height: 35.52px;
            text-align: left;
        }
        
        .Size_text {
            width: 35px;
            height: 25px;
            position: relative;
            left: 0px;
            left: 250px;
            top: 250px;
            font-weight: 400px;
            font-size: 18px;
            font-family: sans-serif;
        }
        
        .quantity_text {
            width: 35px;
            height: 25px;
            position: relative;
            left: 0px;
            left: 250px;
            top: 250px;
            font-weight: 400px;
            font-size: 18px;
            font-family: sans-serif;
        }
        
        .Price_text {
            width: 167px;
            height: 39px;
            position: relative;
            left: 0px;
            left: 270px;
            top: 300px;
            font-weight: 500;
            font-size: 23px;
        }
        
        .numdisplay {
            width: 80px;
            height: 45px;
            position: relative;
            left: 0px;
            left: 370px;
            top: 220px;
            border-radius: 10px;
        }
        
        .numdisplay2 {
            width: 80px;
            height: 45px;
            position: relative;
            left: 0px;
            left: 370px;
            top: 210px;
            border-radius: 10px;
        }
        
        #imagecart {
            width: 37px;
            height: 41px;
            position: relative;
            top: 55px;
            left: 70px;
            border: none;
            background-color: #fff;
        }

        #imagecart img {
            width: 26px;
            height: 24px;
        }
        
        .num_cart {
            width: 10px;
            height: 10px;
            position: relative;
            left: 50px;
            top: 300px;
            padding: 5px 5px 5px 5px;
            border: 2px solid #333;
            border-radius: 50%;
            color: #fff;
            background-color: #deb089;
            font-family: Inter;
            font-size: 10px;
            font-weight: 400;
            line-height: 12.1px;
            text-align: center;
        }
        
        .border {
            width: 358px;
            position: relative;
            left: 150px;
            top: 50px;
            border: 1px solid #656565;
            }
        
        #img {
            position: relative;
            top: 70px;
            border-radius: 10px;
        }

        #img img {
            width: 171px;
            height: 171px;
        }
        
        #cart_button {
            width: 348px;
            height: 70px;
            position: relative;
            left: 150px;
            top: 350px;
            background-color: #deb089;
            color: #fff;
            border: none;
            border-radius: 10px;
        }
    
        .border2 {
            width: 358px;
            position: relative;
            top: 450px;
            left: 150px;
            border: 1px solid #656565;
        }
        
        .decoration2 {
            width: 54px;
            height: 54px;
            position: relative;
            top: 500px;
            left: 300px;
        }

        .decoration2 img {
            width: 54px;
            height: 54px;
        }
        
        .content6 {
            width: 232px;
            height: 16px;
            position: relative;
            top: 550px;
            left: 200px;
            font-weight: 400;
            font-size: 12px;
            font-family: sans-serif; 
    }
}    
    