@media all and (max-width: 1440px) {
    
    .layout {
        width: 920px;
        margin-top: 42px;
        margin-left: 260px;
        display: flex;
    }

    .decoration {
        width: 145px;
        height: 145px;
        position: relative;
        right: 20px;
        top: 10px;
        background-color: #fff;
        border:none;
    }

    .shoppingcart_text {
        width: 92px;
        height: 19px;
        position: relative;
        top: 120px;
        left: 610px;
    }

    .name_text {
        height: 36px;
        position: relative;
        bottom: 330px;
        margin-left: 830px;
        font-family: sans-serif;
        font-size: 26px;
        font-weight: 400;
        line-height: 35.52px;
        text-align: left;
    }

    .size_text {
        width: 35px;
        height: 25px;
        position: relative;
        left: 830px;
        bottom: 290px;
        font-weight: 400px;
        font-size: 18px;
        font-family: sans-serif;
    }

    .quantity_text {
        width: 35px;
        height: 25px;
        position: relative;
        left: 830px;
        bottom: 300px;
        font-weight: 400px;
        font-size: 18px;
        font-family: sans-serif;
    }

    .price_text {
        width: 167px;
        height: 39px;
        position: relative;
        left: 825px;
        bottom: 320px;
        font-weight: 500;
        font-size: 23px;
    }

    .numdisplay_size {
        width: 80px;
        height: 45px;
        position: relative;
        left: 950px;
        bottom: 320px;
        border-radius: 10px;
    }

    .numdisplay_quantity {
        width: 80px;
        height: 45px;
        position: relative;
        left: 950px;
        bottom: 330px;
        border-radius: 10px;
    }

    .image_cart {
        position: relative;
        left: 635px;
        top: 55px;
        border: none;
        background-color: #fff;
    }

    .num_cart {
        width: 10px;
        height: 10px;
        position: relative;
        top: 95px;
        left: 613px;
        padding: 5px 5px 5px 5px;
        border: 2px solid #333;
        border-radius: 50%;
        color: #fff;
        background-color: #deb089;
        font-family: Inter;
        font-size: 10px;
        font-weight: 400;
        line-height: 12.1px;
        text-align: center;
    }

    .border {
        width: 920px;
        position: relative;
        left: 250px;
        top: 10px;
        border: 1px solid #656565;
    }

    #img img{
        width: 448px;
        height: 448px;
        position: relative;
        top: 70px;
        left: 250px;
        border-radius: 10px;
    }

    #cart_button {
        width: 330px;
        height: 70px;
        position: relative;
        left: 830px;
        bottom: 300px;
        background-color: #deb089;
        color: #fff;
        border: none;
        border-radius: 10px;
    }

    #cart_button:disabled {
        background-color: #DEB08999;
    }

    .border2 {
        width: 920px;
        position: relative;
        bottom: 50px;
        left: 250px;
        border: 1px solid #656565;
    }

    .decoration2 {
        width: 145px;
        height: 145px;
        position: relative;
        top: 10px;
        left: 650px;
    }

    .content6 {
        width: 292px;
        height: 16px;
        position: relative;
        top: 50px;
        left: 580px;
        font-weight: 400;
        font-size: 12px;
        font-family: sans-serif;
    }
}

@media all and (max-width: 768px) {
    
    .layout {
        width: 534px;
        height: 110px;
        display: flex;
    }
    
    .decoration {
        position: relative;
        right: 160px;
        top: 0px;
        background-color: #fff;
        border:none;
    }

    .decoration img {
        width: 100px;
        height: 100px;
    }
    
    .shoppingcart_text {
        display: none;
    }
    
    .name_text {
        width: 300px;
        position: relative;
        top: 110px;
        right: 520px;
        font-family: sans-serif;
        font-size: 26px;
        font-weight: 400;
        line-height: 35.52px;
        text-align: left;
    }
    
    .size_text {
        width: 35px;
        height: 25px;
        position: relative;
        left: 0px;
        left: 280px;
        top: 150px;
        font-weight: 400px;
        font-size: 18px;
        font-family: sans-serif;
    }
    
    .quantity_text {
        width: 35px;
        height: 25px;
        position: relative;
        left: 0px;
        left: 280px;
        top: 150px;
        font-weight: 400px;
        font-size: 18px;
        font-family: sans-serif;
    }
    
    .price_text {
        width: 167px;
        height: 39px;
        position: relative;
        left: 0px;
        left: 320px;
        top: 150px;
        font-weight: 500;
        font-size: 23px;
    }
    
    .numdisplay_size {
        width: 80px;
        height: 45px;
        position: relative;
        left: 0px;
        left: 400px;
        top: 120px;
        border-radius: 10px;
    }
    
    .numdisplay_quantity {
        width: 80px;
        height: 45px;
        position: relative;
        left: 0px;
        left: 400px;
        top: 110px;
        border-radius: 10px;
    }

    .image_cart {
        position: relative;
        top: 0px;
        left: 0px;
        top: 40px;
        left: 210px;
        border: none;
        background-color: #fff;
    }
    
    .num_cart {
        width: 10px;
        height: 10px;
        position: relative;
        left: 190px;
        top: 62px;
        padding: 5px 5px 5px 5px;
        border: 2px solid #333;
        border-radius: 50%;
        color: #fff;
        background-color: #deb089;
        font-family: Inter;
        font-size: 10px;
        font-weight: 400;
        line-height: 12.1px;
        text-align: center;
    }
    
    .border {
        width: 534px;
        position: relative;
        left: 120px;
        top: 10px;
        border: 1px solid #656565;
        }
    
    #img img{
        width: 348px;
        height: 348px;
        position: relative;
        top: 70px;
        left: 230px;
        border-radius: 10px;
        }
        
    #cart_button {
        width: 348px;
        height: 70px;
        position: relative;
        left: 0px;
        left: 230px;
        top: 200px;
        background-color: #deb089;
        color: #fff;
        border: none;
        border-radius: 10px;
    }

    .border2 {
        width: 534px;
        position: relative;
        top: 380px;
        left: 120px;
        border: 1px solid #656565;
    }
    
    .decoration2 {
        position: relative;
        top: 450px;
        left: 350px;
    }

    .decoration2 img {
        width: 100px;
        height: 100px;
    }
    
    .content6 {
        width: 292px;
        height: 16px;
        position: relative;
        top: 450px;
        left: 260px;
        font-weight: 400;
        font-size: 12px;
        font-family: sans-serif;
    }
}

    @media all and (max-width: 390px) {
    
        .layout {
            width: 130px;
            height: 54px;
            display: flex;
        }
        
        .decoration {
            position: relative;
            top: -50px;
            right: 0px;
            right: 280px;
            background-color: #fff;
            border: none;
        }

        .decoration img {
            width: 54px;
            height: 54px;
        }
        
        .shoppingcart_text {
            display: none;
        }
        
        .name_text {
            width: 280px;
            position: relative;
            top: 60px;
            right: 0px;
            right: 720px;
            font-family: sans-serif;
            font-size: 26px;
            font-weight: 400;
            line-height: 35.52px;
            text-align: left;
        }
        
        .size_text {
            width: 35px;
            height: 25px;
            position: relative;
            left: 0px;
            left: 80px;
            top: 90px;
            font-weight: 400px;
            font-size: 18px;
            font-family: sans-serif;
        }
        
        .quantity_text {
            width: 35px;
            height: 25px;
            position: relative;
            left: 0px;
            left: 80px;
            top: 80px;
            font-weight: 400px;
            font-size: 18px;
            font-family: sans-serif;
        }
        
        .price_text {
            width: 167px;
            height: 39px;
            position: relative;
            left: 0px;
            left: 120px;
            top: 70px;
            font-weight: 500;
            font-size: 23px;
        }
        
        .numdisplay_size {
            width: 80px;
            height: 45px;
            position: relative;
            left: 0px;
            left: 200px;
            top: 60px;
            border-radius: 10px;
        }
        
        .numdisplay_quantity {
            width: 80px;
            height: 45px;
            position: relative;
            left: 0px;
            left: 200px;
            top: 45px;
            border-radius: 10px;
        }
        
        .image_cart {
            position: absolute;
            top: 60px;
            left: 340px;
            border: none;
            background-color: #fff;
        }

        .image_cart img {
            width: 26px;
            height: 24px;
        }
        
        .num_cart {
            width: 10px;
            height: 10px;
            position: relative;
            left: -5px;
            top: 3px;
            padding: 5px 7px 5px 7px;
            border: 2px solid #333;
            border-radius: 50%;
            color: #fff;
            background-color: #deb089;
            font-family: Inter;
            font-size: 10px;
            font-weight: 400;
            line-height: 12.1px;
            text-align: center;
        }
        
        .border {
            width: 358px;
            position: relative;
            left: 15px;
            top: -5px;
            border: 1px solid #656565;
            }
        
        #img {
            position: relative;
            top: -30px;
            right: 120px;
            border-radius: 10px;
        }

        #img img {
            width: 171px;
            height: 171px;
        }
        
        #cart_button {
            width: 348px;
            height: 70px;
            position: relative;
            left: 15px;
            top: 100px;
            background-color: #deb089;
            color: #fff;
            border: none;
            border-radius: 10px;
        }
    
        .border2 {
            width: 358px;
            position: relative;
            top: 200px;
            left: 15px;
            border: 1px solid #656565;
        }
        
        .decoration2 {
            width: 54px;
            height: 54px;
            position: relative;
            top: 250px;
            left: 170px;
        }

        .decoration2 img {
            width: 54px;
            height: 54px;
        }
        
        .content6 {
            width: 232px;
            height: 16px;
            position: relative;
            top: 300px;
            left: 60px;
            font-weight: 400;
            font-size: 12px;
            font-family: sans-serif; 
    }
}    
    