body {
    overflow-x: hidden;
}

.layout {
    width: 920px;
    height: 145px;
    display: flex;
}

.decoration {
    width: 145px;
    height: 145px;
    position: relative;
    top: 40px;
    left: 260px;
}

#return {
    border: none;
    background-color: white;
}

.lastborder {
    width: 920px;
    border: 1px solid #656565;
    position: relative;
    top: 300px;
    left: 260px;
}

.decoration2 {
    width: 145px;
    height: 145px;
    position: relative;
    top: 350px;
    left: 690px;
}

.text {
    position: relative;
    left: 580px;
    top: 400px;
}

.num_cart {
    width: 10px;
    height: 10px;
    position: relative;
    left: 880px;
    top: 135px;
    padding: 5px 5px 5px 5px;
    border: 2px solid #333;
    border-radius: 50%;
    color: #fff;
    background-color: #deb089;
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 12.1px;
    text-align: center;
}

.border {
    width: 920px;
    border: 1px solid #656565;
    position: relative;
    left: 260px;
    top: 40px;
}

.content {
    width: 92px;
    height: 19px;
    position: relative;
    left: 880px;
    top: 160px;
}

.image_cart {
    position: relative;
    left: 905px;
    top: 95px;
    background-color: white;
    border: none;
}

.image_cart img {
    width: 33px;
    height: 31px;
}

.itemlist {
    width: 212px;
    height: 212px;
    display: inline-block;
    position: relative;
    top: 50px;
    left: 260px;
    margin-top: 100px;
}

.listitem_border {
    width: 150px;
    border: 1px solid #656565;
    position: relative;
    left: 550px;
    bottom: 25px;
}

.item_quantity {
    position: relative;
    left: 550px;
    bottom: 50px;
}

.item_price {
    position: relative;
    bottom: 3px;
    left: 438px;
}

.item_name {
    position: relative;
    left: 550px;
    bottom: 170px;
    height: 25px;
    font-size: 18px;
}

.item_size {
    position: relative;
    left: 550px;
    bottom: 80px;
    height: 21px;
    font-size: 14px;
}

#totaltext {
    width: 59px;
    height: 36px;
    position: relative;
    top: 150px;
    left: 260px;
    font-family: Avenir;
    font-size: 26px;
    font-weight: 900;
    line-height: 35.52px;
    text-align: left;
}

#totalcash {
    width: 98px;
    height: 39px;
    position: relative;
    left: 608px;
    top: 115px;
    font-family: YuGothic;
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    text-align: left;
}

#totalborder {
    width: 448px;
    border: 1px solid #656565;
    position: relative;
    top: 155px;
    left: 260px;
}

.customer_information {
    position: absolute;
    left: 980px;
    bottom: 480px;
}

#customer_information_text {
    position: relative;
    right: 15px;
    width: 126px;
    height: 27px;
    top: 80px;
    font-family: YuGothic;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
}

#mr{
    position: relative;
    left: 200px;
    top: 130px;
    width: 16px;
    height: 24px;
    font-family: YuGothic;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #333333;
}

.text_name_border {
    position: relative;
    border: 1px solid #656565;
    width: 330px;
    top: 130px;
    right: 110px;
}

.customer_name {
    position: relative;
    top:125px;
    width: 85px;
    height: 24px;
    font-family: YuGothic;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #333333
}

.customer_mail {
    position: relative;
    top: 190px;
    right: 15px;
    width: 143;
    height: 24px;
    font-family: YuGothic;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #333333
}

.text_mail_border {
    position: relative;
    border: 1px solid #656565;
    width: 330px;
    height:0px;
    top: 190px;
    right: 110px;
}

.customer_postcode {
    width: 90px;
    position: relative;
    top: 230px;
    font-family: YuGothic;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    right: 325px;
}

.customer_address {
    width: 205px;
    height: 24px;
    position: relative; 
    top: 230px;
    left: 0px;
}

.text_address_border {
    width: 330px;
    position: relative;
    border: 1px solid #656565;
    top: 230px;
    right: 109px
}

.customer_paymentmethod {
    width: 128px;
    height: 24px;
    position: relative;
    top: 280px;
    font-family: YuGothic;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #333333
}

.text_paymentmethod_border {
    width: 330px;
    position: relative;
    border: 1px solid #656565;
    top: 280px;
    right: 110px;
}

#order_confirmed {
    width: 330px;
    height: 70px;
    position: relative;
    top: 350px;
    right: 108px;
    background-color: #deb089;
    border: none;
    border-radius: 10px;
    color: white;
}

#return_cart {
    width: 330px;
    height: 70px;
    position: relative;
    top: 400px;
    right: 108px;
    background-color: white;
    border-radius: 10px;
    font-family: YuGothic;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}

@media all and (max-width: 1350px) {

    .border {
        left: 215px;
    }

    .decoration {
        left: 215px;
    }

    .content {
        left: 840px;
    }

    .image_cart {
        left: 859px;
    }

    .num_cart {
        left: 834px;
    }

    .itemlist {
        left: 215px;
    }

    .item_name {
        left: 480px;
    }

    .item_size {
        left: 480px;
    }

    .item_quantity {
        left: 480px;
    }

    .listitem_border {
        left: 480px;
    }

    .item_price {
        left: 365px;
    }

    #totaltext {
        left: 215px;
    }

    #totalborder {
        left: 215px;
    }

    #totalcash {
        left: 562px;
    }

    .customer_information {
        top: 180px;
        left: 905px;
    }

    .lastborder {
        top: 350px;
        left: 215px;
    }

    .decoration2 {
        top: 390px;
        left: 650px;
    }

    .text {
        top: 430px;
        left: 540px;
    }
}

@media all and (max-width: 1300px) {

    .border {
        left: 190px;
    }

    .decoration {
        left: 185px;
    }

    .content {
        left: 815px;
    }

    .image_cart {
        left: 834px;
    }

    .num_cart {
        left: 810px;
    }

    .itemlist {
        left: 190px;
    }

    .item_name {
        width: 200px;
        left: 460px;
    }

    .item_size {
        width: 200px;
        left: 460px;
    }

    .item_quantity {
        left: 460px;
    }

    .listitem_border {
        left: 460px;
    }

    .item_price {
        left: 348px;
    }

    #totaltext {
        left: 190px;
    }

    #totalborder {
        left: 190px;
    }

    #totalcash {
        left: 535px;
    }

    .customer_information {
        top: 180px;
        left: 900px;
    }

    .customer_postcode {
        left: -320px;
    }

    .lastborder {
        top: 350px;
        left: 190px;
    }

    .decoration2 {
        top: 380px;
        left: 620px;
    }

    .text {
        width: 400px;
        left: 500px;
    }
}

@media all and (max-width: 1280px) {

    .border {
        left: 180px;
    }

    .decoration {
        left: 170px;
    }

    .content {
        left: 805px;
    }

    .image_cart {
        left: 823px;
    }

    .num_cart {
        left: 800px;
    }

    .itemlist {
        left: 180px;
    }

    .item_name {
        left: 450px;
    }

    .item_size {
        left: 450px;
    }

    .item_quantity {
        left: 450px;
    }

    .listitem_border {
        left: 450px;
    }

    .item_price {
        left: 338px;
    }

    #totaltext {
        left: 180px;
    }

    #totalborder {
        left: 180px;
    }

    #totalcash {
        left: 530px;
    }

    .customer_information {
        top: 180px;
        left: 880px;
    }

    .customer_paymentmethod {
        left: 0px;
    }

    .lastborder {
        top: 350px;
        left: 180px;
    }

    .decoration2 {
        top: 380px;
        left: 630px;
    }

    .text {
        left: 520px;
    }
}

@media all and (max-width: 1250px) {

    .border {
        left: 160px;
    }

    .decoration {
        left: 160px;
    }

    .content {
        left: 785px;
    }

    .image_cart {
        left: 803px;
    }

    .num_cart {
        left: 778px;
    }

    .itemlist {
        left: 160px;
    }

    .item_name {
        left: 440px;
    }

    .item_size {
        left: 440px;
    }

    .item_quantity {
        left: 440px;
    }

    .listitem_border {
        left: 440px;
    }

    .item_price {
        left: 328px;
    }

    #totaltext {
        left: 160px;
    }

    #totalborder {
        left: 160px;
    }

    #totalcash {
        left: 507px;
    }

    .customer_information {
        top: 180px;
        left: 860px;
    }

    .lastborder {
        top: 350px;
        left: 160px;
    }

    .decoration2 {
        top: 380px;
        left: 590px;
    }

    .text {
        left: 480px;
    }
}

@media all and (max-width: 1200px) {

    .border {
        left: 140px;
    }

    .decoration {
        left: 130px;
    }

    .content {
        left: 770px;
    }

    .image_cart {
        left: 785px;
    }

    .num_cart{
        left: 760px;
    }

    .itemlist {
        left: 140px;
    }

    .item_name {
        left: 420px;
    }

    .item_size {
        left: 420px;
    }

    .item_quantity {
        left: 420px;
    }

    .listitem_border {
        left: 420px;
    }

    .item_price {
        left: 308px;
    }

    #totaltext {
        left: 140px;
    }

    #totalborder {
        left: 140px;
    }

    #totalcash {
        left: 488px;
    }

    .customer_information {
        top: 180px;
        left: 840px;
    }

    .lastborder {
        top: 350px;
        left: 140px;
    }

    .decoration2 {
        top: 380px;
        left: 590px;
    }
}

@media all and (max-width: 1150px) {

    .border {
        left: 110px;
    }

    .decoration {
        left: 110px;
    }

    .content {
        left: 730px;
    }

    .image_cart {
        left: 753px;
    }

    .num_cart {
        left: 727px;
    }

    .itemlist {
        left: 110px;
    }

    .item_name {
        left: 390px;
    }

    .item_size {
        left: 390px;
    }

    .item_quantity {
        left: 390px;
    }

    .listitem_border {
        left: 390px;
    }

    .item_price {
        left: 278px;
    }

    #totaltext {
        left: 110px;
    }

    #totalborder {
        left: 110px;
    }

    #totalcash {
        left: 460px;
    }

    .customer_information {
        top: 180px;
        left: 810px;
    }

    .lastborder {
        top: 350px;
        left: 110px;
    }

    .decoration2 {
        top: 380px;
        left: 550px;
    }

    .text {
        left: 430px;
    }
}

@media all and (max-width: 1024px) {

    .border {
        left: 75px;
    }

    .content {
        left: 690px;
    }

    .decoration {
        left: 80px;
    }

    .image_cart {
        left: 715px;
    }

    .num_cart {
        left: 689px;
    }

    .itemlist {
        left: 75px;
    }

    .item_name {
        left: 320px;
    }

    .item_size {
        left: 320px;
    }

    .item_quantity {
        left: 320px;
    }

    .listitem_border {
        left: 320px;
    }

    .item_price {
        bottom: 3px;
        left: 207px;
    }

    #totaltext {
        left: 75px;
    }

    #totalborder {
        left: 75px;
    }

    #totalcash {
        top: 115px;
        left: 422px;
    }

    .customer_information {
        left: 740px;
    }

    .customer_postcode {
        left: -320px;
    }

    .lastborder {
        left: 75px;
    }

    .decoration2 {
        top: 420px;
        left: 490px;
    }

    .text {
        top: 470px;
        left: 370px;
    }
}

@media all and (max-width: 1000px) {

    .border {
        left: 90px;
    }

    .content {
        left: 715px;
    }

    .decoration {
        left: 80px;
    }

    .image_cart {
        left: 733px;
    }

    .num_cart {
        left: 709px;
    }

    .itemlist {
        left: 90px;
    }

    .item_name {
        left: 360px;
    }

    .item_size {
        left: 360px;
    }

    .item_quantity {
        left: 360px;
    }

    .listitem_border {
        left: 360px;
    }

    .item_price {
        left: 250px;
    }

    #totaltext {
        left: 90px;
    }

    #totalborder {
        left: 90px;
    }

    #totalcash {
        left: 437px;
    }

    .customer_information {
        left: 770px;
    }

    .lastborder {
        left: 90px;
    }

    .decoration2 {
        top: 420px;
        left: 505px;
    }

    .text {
        top: 480px;
        left: 390px;
    }
}

@media all and (max-width: 912px) {

    .border {
        left: 90px;
    }

    .content {
        left: 710px;
    }

    .decoration {
        left: 95px;
    }

    .image_cart {
        left: 733px;
    }

    .num_cart {
        left: 707px;
    }

    .itemlist {
        left: 95px;
    }

    .item_name {
        left: 360px;
    }

    .item_size {
        left: 360px;
    }

    .item_quantity {
        left: 360px;
    }

    .listitem_border {
        left: 360px;
    }

    .item_price {
        left: 250px;
    }

    #totaltext {
        left: 95px;
    }

    #totalborder {
        left: 95px;
    }

    #totalcash {
        left: 442px;
    }

    .customer_information {
        left: 770px;
    }

    .lastborder {
        left: 90px;
    }

    .decoration2 {
        top: 420px;
        left: 515px;
    }

    .text {
        width: 500px;
        top: 470px;
        left: 395px;
    }
}

@media all and (max-width: 854px) {
    
    .layout {
        width: 534px;
        height: 110px;
        display: flex;
    }

    .decoration {
        top: -10px;
        left: 140px;
    }

    .decoration img {
        width: 100px;
        height: 100px;
    }

    #return {
        border: none;
        background-color: white;
    }

    .lastborder {
        width: 534px;
        border: 1px solid #656565;
        top: 880px;
        left: 160px;
    }

    .decoration2 {
        width: 100px;
        height: 100px;
        top: 920px;
        left: 380px;
    }

    .text {
        width: 320px;
        height: 16px;
        top: 970px;
        left: 290px;
        font-family: Avenir;
        font-size: 12px;
        font-weight: 400;
        line-height: 16.39px;
        text-align: left;
    }

    .num_cart {
        width: 10px;
        height: 10px;
        left: 486px;
        top: 66px;
        padding: 5px 5px 5px 5px;
        border: 2px solid #333;
        border-radius: 50%;
        color: #fff;
        background-color: #deb089;
        font-family: Inter;
        font-size: 10px;
        font-weight: 400;
        line-height: 10px;
        text-align: center;
    }

    .border {
        width: 534px;
        border: 1px solid #656565;
        left: 160px;
        top: 10px;
    }

    .content {
        display: none;
    }

    .image_cart {
        left: 510px;
        top: 45px;
        background-color: white;
        border: none;
    }

    .image_cart img {
        width: 33px;
        height: 31px;
    }

    .item_display {
        width: 348px;
        height: 162px;
    }

    .itemlist {
        width: 162px;
        height: 162px;
        top: 100px;
        left: 270px;
        margin-top: -40px;
    }

    .itemlist img {
        width: 162px;
        height: 162px;
    }

    .listitem_border {
        width: 162px;
        border: 1px solid #656565;
        left: 460px;
        top: 40px;
    }

    .item_quantity {
        left: 460px;
        top: 15px
    }

    .item_price {
        left: 410px;
        top: 63px;
    }

    .item_name {
        height: 25px;
        left: 460px;
        bottom: 90px;
        font-size: 18px;
    }

    .item_size {
        height: 21px;
        left: 460px;
        top: -15px;
        font-size: 14px;
    }

    #totaltext {
        width: 59px;
        height: 36px;
        top: 150px;
        left: 270px;
        font-family: Avenir;
        font-size: 26px;
        font-weight: 900;
        line-height: 35.52px;
        text-align: left;
    }

    #totalcash {
        width: 98px;
        height: 39px;
        left: 515px;
        top: 110px;
        font-family: YuGothic;
        font-size: 26px;
        font-weight: 700;
        line-height: 39px;
        text-align: left;
    }

    #totalborder {
        width: 348px;
        border: 1px solid #656565;
        top: 150px;
        left: 270px;
    }

    .customer_information {
        width: 348px;
        height: 583px;
        display: inline-block;
        top: 700px;
        left: 370px;
    }

    #customer_information_text {
        left: 0px;
        width: 126px;
        height: 27px;
        top: 80px;
        font-family: YuGothic;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        text-align: left;
    }

    #mr{
        left: 203px;
        top: 130px;
        width: 16px;
        height: 24px;
        font-family: YuGothic;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #333333;
    }

    .text_name_border {
        border: 1px solid #656565;
        width: 348px;
        height: 0px;
        top: 130px;
        right: 110px;
    }

    .customer_name {
        top:125px;
        width: 85px;
        height: 24px;
        left: 20px;
        font-family: YuGothic;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #333333
    }

    .customer_mail {
        top: 190px;
        right: 15px;
        width: 143;
        height: 24px;
        font-family: YuGothic;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #333333
    }

    .text_mail_border {
        border: 1px solid #656565;
        width: 348px;
        height:0px;
        top: 190px;
        right: 110px;
    }

    .customer_postcode {
        width: 90px;
        top: 230px;
        left: -310px;
        font-family: YuGothic;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        text-align: left;
    }

    .customer_address {
        width: 205px;
        height: 24px; 
        top: 230px;
        left: 0px;
    }

    .text_address_border {
        width: 348px;
        border: 1px solid #656565;
        top: 230px;
        right: 109px
    }

    .customer_paymentmethod {
        width: 128px;
        height: 24px;
        top: 280px;
        left: 3px;
        font-family: YuGothic;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #333333
    }

    .text_paymentmethod_border {
        width: 348px;
        border: 1px solid #656565;
        top: 280px;
        right: 110px;
    }

    #order_confirmed {
        width: 348px;
        height: 70px;
        top: 350px;
        right: 108px;
        background-color: #deb089;
        border: none;
        border-radius: 10px;
        color: white;
    }

    #return_cart {
        width: 348px;
        height: 70px;
        top: 400px;
        right: 108px;
        background-color: white;
        border-radius: 10px;
        font-family: YuGothic;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
    }
}

@media all and (max-width: 800px) {

    .border {
        left: 135px;
    }

    .decoration {
        left: 110px;
    }

    .image_cart {
        left: 485px;
    }

    .num_cart {
        left: 461px;
    }

    .itemlist {
        left: 230px;
    }

    .item_name {
        left: 420px
    }

    .item_size {
        left: 420px;
    }

    .item_quantity {
        left: 420px;
    }

    .listitem_border {
        left: 420px;
    }

    .item_price {
        left: 370px;
    }

    #totaltext {
        left: 230px;
    }

    #totalborder {
        left: 230px;
    }

    #totalcash {
        left: 478px;
    }

    .customer_information {
        top: 750px;
        left: 335px;
    }

    .customer_postcode {
        left: -310px;
    }

    .lastborder {
        top: 950px;
        left: 130px;
    }

    .decoration2 {
        top: 980px;
        left: 350px;
    }

    .text {
        top: 1020px;
        left: 260px;
    }  
}

@media all and (max-width: 768px) {

    .border {
        left: 115px;
    }

    .decoration {
        left: 105px;
    }

    .image_cart {
        left: 465px;
    }

    .num_cart {
        left: 440px;
    }

    .itemlist {
        left: 220px;
    }

    .item_name {
        left: 410px
    }

    .item_size {
        left: 410px;
    }

    .item_quantity {
        left: 410px;
    }

    .listitem_border {
        position: relative;
        left: 410px;
    }

    .item_price {
        position: relative;
        left: 356px;
    }

    #totaltext {
        left: 220px;
    }

    #totalborder {
        left: 220px;
    }

    #totalcash {
        left: 465px;
    }

    .customer_information {
        top: 750px;
        left: 330px;
    }

    .lastborder {
        left: 115px;
    }

    .decoration2 {
        top: 990px;
        left: 340px;
    }

    .text {
        left: 260px;
    }
}

@media all and (max-width: 712px) {

    .border {
        left: 90px;
    }

    .decoration {
        left: 70px;
    }

    .image_cart {
        left: 440px;
    }

    .num_cart {
        left: 414px;
    }

    .itemlist {
        left: 190px;
    }

    .item_name {
        left: 390px;
    }

    .item_size {
        left: 390px;
    }

    .item_quantity {
        left: 390px;
    }

    .listitem_border {
        left: 390px;
    }

    .item_price {
        left: 340px;
    }

    #totaltext {
        left: 190px;
    }

    #totalborder {
        left: 190px;
    }

    #totalcash {
        left: 435px;
    }

    .customer_information {
        left: 295px;
    }

    .lastborder {
        left: 90px;
    }

    .decoration2 {
        left: 310px;
    }

    .text {
        top: 1020px;
        left: 220px;
    }  
}

@media all and (max-width: 640px) {

    .border {
        left: 53px;
    }

    .decoration {
        left: 35px;
    }

    .image_cart {
        left: 403px;
    }

    .num_cart {
        left: 379px;
    }

    .itemlist {
        left: 140px;
    }

    .item_name {
        width: 200px;
        left: 340px;
    }

    .item_size {
        left: 340px;
    }

    .item_quantity {
        left: 340px;
    }

    .listitem_border {
        left: 340px;
    }

    .item_price {
        left: 290px;
    }

    #totaltext {
        left: 140px;
    }

    #totalborder {
        left: 140px;
    }

    #totalcash {
        left: 387px;
    }

    .customer_information {
        top: 750px;
        left: 255px;
    }

    .customer_postcode {
        left: -310px;
    }

    .lastborder {
        left: 53px;
    }

    .decoration2 {
        left: 270px;
    }

    .text {
        top: 1050px;
        left: 180px;
    }
}

@media all and (max-width: 600px) {

    .border {
        left: 33px;
    }

    .lastborder {
        left: 33px;
    }

    .decoration {
        left: 10px;
    }

    .decoration2 {
        left: 250px;
    }

    .text {
        top: 1020px;
        left: 160px;
    }

    .image_cart {
        left: 383px;
    }

    .num_cart {
        left: 358px;
        line-height: 9px;
    }

    .itemlist {
        left: 130px;  
    }

    .item_name {
        width: 200px;
        left: 315px;
    }

    .item_size {
        width: 100px;
        left: 315px;
    }

    .item_quantity {
        left: 315px;
    }

    .listitem_border {
        left: 315px;
    }

    .item_price {
        left: 265px;
    }

    #totaltext {
        left: 130px;
    }

    #totalborder {
        left: 130px;
    }

    #totalcash {
        left: 378px;
    }

    .customer_information {
        left: 235px;
    }

    .customer_address {
        left: 0px;
    }
}

@media all and (max-width: 480px) {

    body {
        height: 1000px;
    }
    
    .layout {
        width: 358px;
        height: 54px;
    }

    .decoration {
        top: -35px;
        left: 15px;
    }

    .decoration img {
        width: 54px;
        height: 54px;
    }

    #return {
        border: none;
        background-color: white;
    }

    .lastborder {
        width: 358px;
        border: 1px solid #656565;
        top: 1000px;
        left: 62px;
    }

    .decoration2 {
        width: 54px;
        height: 54px;
        top: 1050px;
        left: 210px;
    }

    .text {
        height: 16px;
        top: 1100px;
        left: 100px;
    }

    .num_cart {
        width: 3px;
        height: 3px;
        left: 221px;
        top: 20px;
        padding: 5px 6px 7px 5px;
        border: 2px solid #333;
        border-radius: 50%;
        color: #fff;
        background-color: #deb089;
        font-family: Inter;
        font-size: 10px;
        font-weight: 400;
        line-height: 4px;
        text-align: center;
    }

    .border {
        width: 358px;
        border: 1px solid #656565;
        left: 62px;
        top: 10px;
    }

    .content {
        display: none;
    }

    .image_cart {
        left: 243px;
        top: 20px;
        background-color: white;
        border: none;
    }

    .image_cart img {
        width: 26px;
        height: 24px;
    }

    .item_display {
        width: 358px;
        height: 171px;
    }

    .itemlist {
        left: 0px;
        left: 62px;
        top: 0px;
        top: 100px;
        margin-top: -40px;
    }

    .itemlist img {
        width: 171px;
        height: 171px;
    }
    
    .listitem_border {
        width: 162px;
        border: 1px solid #656565;
        left: 250px;
        top: 40px
    }

    .item_quantity {
        left: 250px;
        top: 15px;
    }

    .item_price {
        left: 200px;
        top: 60px;
    }

    .item_name {
        width: 200px;
        height: 25px;
        left: 250px;
        top: -80px;
        font-size: 18px;
    }

    .item_size {
        width: 51px;
        height: 21px;
        top: 0px;
        left: 250px;
        font-size: 14px;
    }

    #totaltext {
        width: 59px;
        height: 36px;
        top: 180px;
        left: 60px;
        font-family: Avenir;
        font-size: 26px;
        font-weight: 900;
        line-height: 35.52px;
        text-align: left;
    }

    #totalcash {
        width: 98px;
        height: 39px;
        left: 308px;
        top: 140px;
        font-family: YuGothic;
        font-size: 26px;
        font-weight: 700;
        line-height: 39px;
        text-align: left;
    }

    #totalborder {
        width: 348px;
        border: 1px solid #656565;
        top: 180px;
        left: 62px;
    }

    .customer_information {
        width: 348px;
        height: 583px;
        display: inline-block;
        left: 90px;
        top: 750px;
    }

    #customer_information_text {
        left: 80px;
        width: 126px;
        height: 27px;
        top: 80px;
        font-family: YuGothic;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        text-align: left;
    }

    #mr {
        left: 300px;
        top: 130px;
        width: 16px;
        height: 24px;
        font-family: YuGothic;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #333333;
    }

    .text_name_border {
        border: 1px solid #656565;
        width: 348px;
        height: 0px;
        top: 130px;
        right: 30px;
    }

    .customer_name {
        top:125px;
        width: 85px;
        height: 24px;
        left: 90px;
        font-family: YuGothic;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #333333
    }

    .customer_mail {
        top: 190px;
        left: 60px;
        width: 143px;
        height: 24px;
        font-family: YuGothic;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #333333
    }

    .text_mail_border {
        border: 1px solid #656565;
        width: 348px;
        height:0px;
        top: 190px;
        right: 30px;
    }

    .customer_postcode {
        width: 90px;
        position: relative;
        top: 230px;
        left: -230px;
        font-family: YuGothic;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        text-align: left;
    }

    .customer_address {
        width: 205px;
        height: 24px; 
        top: 230px;
        left: 80px;
    }

    .text_address_border {
        width: 348px;
        border: 1px solid #656565;
        top: 230px;
        right: 30px
    }

    .customer_paymentmethod {
        width: 128px;
        height: 24px;
        top: 280px;
        left: 80px;
        font-family: YuGothic;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #333333
    }

    .text_paymentmethod_border {
        width: 348px;
        border: 1px solid #656565;
        top: 280px;
        right: 30px;
    }

    #order_confirmed {
        width: 358px;
        height: 70px;
        top: 350px;
        right: 30px;
        background-color: #deb089;
        border: none;
        border-radius: 10px;
        color: white;
    }

    #return_cart {
        width: 358px;
        height: 70px;
        top: 400px;
        right: 30px;
        background-color: white;
        border-radius: 10px;
        font-family: YuGothic;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
    }
}

@media all and (max-width: 430px) {

    .border {
        left: 35px;
    }

    .decoration {
        left: -10px;
    }

    .image_cart {
        left: 217px;
    }

    .itemlist {
        left: 35px;
    }

    .item_name {
        left: 225px;
    }

    .item_size {
        left: 225px;
    }

    .item_quantity {
        left: 225px;
    }

    .listitem_border {
        left: 225px;
    }

    .item_price {
        left: 171px;
    }

    #totaltext {
        left: 40px;
    }

    #totalcash {
        left: 290px; 
    }

    #totalborder {
        left: 40px;
    }

    .customer_information {
        left: 70px;
    }

    .lastborder {
        left: 35px;
    }

    .num_cart {
        left: 196px;
    }

    .decoration2 {
        left: 190px;
    }

    .text {
        top: 1100px;
        left: 80px;
    }
}

@media all and (max-width: 414px) {
    
    .border {
        left: 35px;
    }

    .decoration {
        left: -5px;
    }

    .image_cart {
        left: 215px;
    }

    .itemlist {
        left: 35px;
    }

    .listitem_border {
        left: 225px;
    }

    .item_price {
        top: 62px;
        left: 176px;
    }

    #totaltext {
        left: 40px;
    }

    #totalcash {
        left: 290px; 
    }

    #totalborder {
        left: 40px;
    }

    .customer_information {
        left: 65px;
    }

    .customer_postcode {
        left: -228px;
    }

    .lastborder {
        left: 35px;
    }

    .num_cart {
        left: 194px;
    }

    .decoration2 {
        left: 190px;
    }
}

@media all and (max-width: 395px) {

    .border {
        left: 35px;
    }

    .decoration {
        left: -10px;
    }

    .image_cart {
        left: 217px;
    }

    .itemlist {
        left: 35px;
    }

    #totaltext {
        left: 45px;
    }

    #totalcash {
        left: 292px; 
    }

    #totalborder {
        left: 45px;
    }

    .customer_information {
        left: 65px;
    }

    .lastborder {
        left: 35px;
    }

    .num_cart {
        left: 195px;
    }

    .decoration2 {
        left: 190px;
    }

    .text {
        top: 50px;
        left: -440px;
    }
}

@media all and (max-width: 384px) {

    .border {
        left: 40px;
    }

    .decoration {
        left: -5px;
    }

    .decoration2 {
        left: 190px;
    }

    .image_cart {
        left: 222px;
    }

    .itemlist {
        left: 40px;
    }

    .item_name {
        left: 230px;
    }

    .item_size {
        left: 230px;
    }

    .item_quantity {
        left: 230px;
    }

    .listitem_border {
        left: 230px;
    }

    .item_price {
        left: 180px;
        top: 60px;
    }

    #totaltext {
        left: 40px;
    }

    #totalcash {
        left: 287px; 
    }

    #totalborder {
        left: 40px;
    }

    .customer_information {
        left: 68px;
    }

    .customer_postcode {
        left: -240px;
    }

    .lastborder {
        left: 35px;
    }

    .num_cart {
        left: 202px;
        line-height: 4px;
    }

    .text {
        left: 80px;
        top: 1100px;
    }
}

@media all and (max-width: 376px) {

    .border {
        left: 35px;
    }

    .decoration {
        left: -5px;
    }

    .image_cart {
        left: 215px;
    }

    .itemlist {
        left: 35px;
    }

    .item_price {
        top: 60px;
        left: 180px;
    }

    #totaltext {
        left: 35px;
    }

    #totalcash {
        left: 283px; 
    }

    #totalborder {
        left: 35px;
    }

    .customer_information {
        left: 70px;
    }

    .customer_postcode {
        left: -230px;
    }

    .lastborder {
        left: 35px;
    }

    .num_cart {
        left: 194px;
        line-height: 5px;
    }

    .decoration2 {
        left: 190px;
    }

    .text {
        left: 80px;
    } 
} 

@media all and (max-width: 354px) {

    .border {
        left: 35px;
    }

    .decoration {
        left: -10px;
    }

    .decoration2 {
        left: 185px;
    }

    .image_cart {
        left: 217px;
    }

    .itemlist {
        left: 40px;
    }

    #totaltext {
        left: 40px;
    }

    #totalcash {
        left: 286px; 
    }

    #totalborder {
        left: 40px;
    }

    .customer_information {
        left: 65px;
    }

    .customer_postcode {
        left: -230px;
    }

    .lastborder {
        left: 35px;
    }

    .num_cart {
        left: 196px;
    } 
}

@media all and (max-width: 344px) {

    .border {
        left: 40px;
    }

    .decoration {
        left: -5px;
    }

    .decoration2 {
        left: 200px;
    }

    .image_cart {
        left: 222px;
    }

    .itemlist {
        left: 40px;
    }

    #totaltext {
        left: 50px;
    }

    #totalcash {
        left: 298px; 
    }

    #totalborder {
        left: 50px;
    }

    .customer_information {
        left: 70px;
    }

    .lastborder {
        left: 40px;
    }

    .num_cart {
        left: 200px;
    }
}

@media all and (max-width: 330px) {

    .border {
        left: 35px;
    }

    .decoration {
        left: -5px;
    }

    .image_cart {
        left: 216px;
    }

    .num_cart {
        left: 195px;
        line-height: 4px;
    }

    .customer_information {
        left: 66px;
    }

    .itemlist {
        left: 35px;
    }

    #totaltext {
        left: 35px;
    }

    #totalborder {
        left: 35px;
    }

    #totalcash {
        left: 281px;
    }

    .lastborder {
        left: 35px;
    }

    .decoration2 {
        left: 190px;
    }
}