@media all and (max-width: 1440px) {

    .Layout {
        width: 920px;
        height: 145px;
        display: flex;
    }

    .decoration {
        width: 145px;
        height: 145px;
        position: relative;
        top: 50px;
        left: 240px;
    }

    #return {
        border: none;
        background-color: white;
    }

    .lastborder {
        width: 920px;
        border: 1px solid #656565;
        position: relative;
        top: 300px;
        left: 280px;
    }

    .decoration2 {
        width: 145px;
        height: 145px;
        position: relative;
        top: 350px;
        left: 650px;
    }

    .text {
        margin-top: 400px;
        margin-left: 520px;
    }

    .num_cart {
        width: 10px;
        height: 10px;
        position: relative;
        left: 905px;
        top: 135px;
        padding: 5px 5px 5px 5px;
        border: 2px solid #333;
        border-radius: 50%;
        color: #fff;
        background-color: #deb089;
        font-family: Inter;
        font-size: 10px;
        font-weight: 400;
        line-height: 12.1px;
        text-align: center;
    }

    .border {
        width: 920px;
        border: 1px solid #656565;
        position: relative;
        left: 280px;
        top: 40px;
    }

    .Content {
        width: 92px;
        height: 19px;
        position: relative;
        left: 860px;
        top: 160px;
    }

    .imagecart {
        position: relative;
        left: 925px;
        top: 95px;
        background-color: white;
        border: none;
    }

    .imagecart img {
        width: 33px;
        height: 31px;
    }

    .itemlist {
        width: 212px;
        height: 212px;
        display: inline-block;
        position: relative;
        top: 50px;
        left: 280px;
        margin-top: 40px;
    }

    .listItemborder {
        width: 150px;
        border: 1px solid #656565;
        position: relative;
        left: 550px;
        bottom: 25px;
    }

    .Itemquantity {
        position: relative;
        left: 550px;
        bottom: 50px;
    }

    .Itemprice {
        position: relative;
        left: 435px;
    }

    .Item_name {
        margin-left: 550px;
        position: relative;
        bottom: 170px;
        height: 25px;
        font-size: 18px;
    }

    .Item_size {
        margin-left: 550px;
        position: relative;
        bottom: 80px;
        height: 21px;
        font-size: 14px;
    }

    #totaltext {
        width: 59px;
        height: 36px;
        position: relative;
        top: 150px;
        left: 280px;
        font-family: Avenir;
        font-size: 26px;
        font-weight: 900;
        line-height: 35.52px;
        text-align: left;
    }

    #totalcash {
        width: 98px;
        height: 39px;
        position: relative;
        left: 615px;
        top: 120px;
        font-family: YuGothic;
        font-size: 26px;
        font-weight: 700;
        line-height: 39px;
        text-align: left;
    }

    #totalborder {
        width: 448px;
        border: 1px solid #656565;
        position: relative;
        top: 155px;
        left: 280px;
    }

    .Customer_Information {
        position: absolute;
        left: 980px;
        bottom: 450px;
    }

    #Customer_Information_text {
        position: relative;
        right: 15px;
        width: 126px;
        height: 27px;
        top: 80px;
        font-family: YuGothic;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        text-align: left;
    }

    #Mr{
        position: relative;
        left: 200px;
        top: 130px;
        width: 16px;
        height: 24px;
        font-family: YuGothic;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #333333;
    }

    .text_name_border {
        position: relative;
        border: 1px solid #656565;
        width: 330px;
        top: 130px;
        right: 110px;
    }

    .customer_name {
        position: relative;
        top:125px;
        width: 85px;
        height: 24px;
        font-family: YuGothic;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #333333
    }

    .customer_mail {
        position: relative;
        top: 190px;
        right: 15px;
        width: 143;
        height: 24px;
        font-family: YuGothic;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #333333
    }

    .text_mail_border {
        position: relative;
        border: 1px solid #656565;
        width: 330px;
        height:0px;
        top: 190px;
        right: 110px;
    }

    .customer_postcode {
        position: relative;
        top: 230px;
        font-family: YuGothic;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        right: 250px;
    }

    .customer_address {
        width: 205px;
        height: 24px;
        position: relative; 
        top: 230px;
        left: 20px;
    }

    .text_address_border {
        width: 330px;
        position: relative;
        border: 1px solid #656565;
        top: 230px;
        right: 109px
    }

    .customer_Payment_method {
        width: 128px;
        height: 24px;
        position: relative;
        top: 280px;
        font-family: YuGothic;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #333333
    }

    .text_Payment_method_border {
        width: 330px;
        position: relative;
        border: 1px solid #656565;
        top: 280px;
        right: 110px;
    }

    #Order_confirmed {
        width: 330px;
        height: 70px;
        position: relative;
        top: 350px;
        right: 108px;
        background-color: #deb089;
        border: none;
        border-radius: 10px;
        color: white;
    }

    #Return_to_cart {
        width: 330px;
        height: 70px;
        position: relative;
        top: 400px;
        right: 108px;
        background-color: white;
        border-radius: 10px;
        font-family: YuGothic;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
    }
}

@media all and (max-width: 768px) {
    
    .Layout {
        width: 534px;
        height: 110px;
        display: flex;
}

    .decoration {
        position: relative;
        top: 0px;
        left: 100px;
}

    .decoration img {
        width: 100px;
        height: 100px;
    }

    #return {
        border: none;
        background-color: white;
}


    .lastborder {
        width: 534px;
        border: 1px solid #656565;
        position: relative;
        top: 400px;
        left: 120px;
}

    .decoration2 {
        position: relative;
        top: 430px;
        left: 320px;
}

    .decoration2 img {
        width: 100px;
        height: 100px;
    }

    .text {
        width: 320px;
        height: 16px;
        position: relative;
        top: 30px;
        right: 280px;
        font-family: Avenir;
        font-size: 12px;
        font-weight: 400;
        line-height: 16.39px;
        text-align: left;
}

    .num_cart {
        width: 10px;
        height: 10px;
        position: relative;
        left: 450px;
        top: 62px;
        padding: 5px 5px 5px 5px;
        border: 2px solid #333;
        border-radius: 50%;
        color: #fff;
        background-color: #deb089;
        font-family: Inter;
        font-size: 10px;
        font-weight: 400;
        line-height: 12.1px;
        text-align: center;
}

    .border {
        width: 534px;
        border: 1px solid #656565;
        position: relative;
        left: 120px;
        top: 10px;
}

    .Content {
        display: none;
}

    .imagecart {
        position: relative;
        left: 470px;
        top: 40px;
        background-color: white;
        border: none;
}

    .imagecart img {
        width: 33px;
        height: 31px;
    }

    .item_display {
        width: 348px;
        height: 162px;
    }

    .itemlist {
        width: 162px;
        height: 162px;
        position: relative;
        top: 100px;
        left: 220px;
        margin-top: -40px;
}

    .itemlist img {
        width: 162px;
        height: 162px;
    }

    .listItemborder {
        width: 162px;
        border: 1px solid #656565;
        position: relative;
        left: 410px;
        top: 40px;
}

    .Itemquantity {
        position: relative;
        left: 410px;
        top: 15px
}

    .Itemprice {
        position: relative;
        left: 355px;
        top: 60px;
}

    .Item_name {
        height: 25px;
        position: relative;
        right: 140px;
        bottom: 90px;
        font-size: 18px;
}

    .Item_size {
        height: 21px;
        position: relative;
        right: 140px;
        top: -15px;
        font-size: 14px;
}

    #totaltext {
        width: 59px;
        height: 36px;
        position: relative;
        top: 150px;
        left: 220px;
        font-family: Avenir;
        font-size: 26px;
        font-weight: 900;
        line-height: 35.52px;
        text-align: left;
}

    #totalcash {
        width: 98px;
        height: 39px;
        position: relative;
        left: 450px;
        top: 110px;
        font-family: YuGothic;
        font-size: 26px;
        font-weight: 700;
        line-height: 39px;
        text-align: left;
}

    #totalborder {
        width: 348px;
        border: 1px solid #656565;
        position: relative;
        top: 150px;
        left: 225px;
}

    .Customer_Information {
        width: 348px;
        height: 583px;
        display: inline-block;
        position: relative;
        top: 150px;
        left: 320px;
}

    #Customer_Information_text {
        position: relative;
        left: 0px;
        width: 126px;
        height: 27px;
        top: 80px;
        font-family: YuGothic;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        text-align: left;
}

    #Mr{
        position: relative;
        left: 203px;
        top: 130px;
        width: 16px;
        height: 24px;
        font-family: YuGothic;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #333333;
}

    .text_name_border {
        position: relative;
        border: 1px solid #656565;
        width: 348px;
        height: 0px;
        top: 130px;
        right: 110px;
}

    .customer_name {
        position: relative;
        top:125px;
        width: 85px;
        height: 24px;
        left: 20px;
        font-family: YuGothic;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #333333
}

    .customer_mail {
        position: relative;
        top: 190px;
        right: 15px;
        width: 143;
        height: 24px;
        font-family: YuGothic;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #333333
}

    .text_mail_border {
        position: relative;
        border: 1px solid #656565;
        width: 348px;
        height:0px;
        top: 190px;
        right: 110px;
}

    .customer_postcode {
        position: relative;
        top: 230px;
        font-family: YuGothic;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        text-align: left;
}

    .customer_address {
        width: 205px;
        height: 24px;
        position: relative; 
        top: 230px;
        left: 30px;
}

    .text_address_border {
        width: 348px;
        position: relative;
        border: 1px solid #656565;
        top: 230px;
        right: 109px
}

    .customer_Payment_method {
        width: 128px;
        height: 24px;
        position: relative;
        top: 280px;
        font-family: YuGothic;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #333333
}

    .text_Payment_method_border {
        width: 348px;
        position: relative;
        border: 1px solid #656565;
        top: 280px;
        right: 110px;
}

    #Order_confirmed {
        width: 348px;
        height: 70px;
        position: relative;
        top: 350px;
        right: 108px;
        background-color: #deb089;
        border: none;
        border-radius: 10px;
        color: white;
}

    #Return_to_cart {
        width: 348px;
        height: 70px;
        position: relative;
        top: 400px;
        right: 108px;
        background-color: white;
        border-radius: 10px;
        font-family: YuGothic;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
    }
}

@media all and (max-width: 390px) {

    body {
        height: 1000px;
    }
    
    .Layout {
        width: 358px;
        height: 54px;
}

    .decoration {
        position: relative;
        top: -30px;
        left: -30px;
}

    .decoration img {
        width: 54px;
        height: 54px;
    }

    #return {
        border: none;
        background-color: white;
}

    .lastborder {
        width: 358px;
        border: 1px solid #656565;
        position: relative;
        top: 350px;
        left: 15px;
}

    .decoration2 {
        position: relative;
        top: 410px;
        left: 170px;
}

    .decoration2 img {
        width: 54px;
        height: 54px;
    }

    .text {
        height: 16px;
        position: relative;
        top: -20px;
        left: -470px;
        font-family: Avenir;
        font-size: 12px;
        font-weight: 400;
        line-height: 16.39px;
        text-align: left;
}

    .num_cart {
        width: 10px;
        height: 10px;
        position: relative;
        left: 180px;
        top: 20px;
        padding: 5px 5px 5px 5px;
        border: 2px solid #333;
        border-radius: 50%;
        color: #fff;
        background-color: #deb089;
        font-family: Inter;
        font-size: 10px;
        font-weight: 400;
        line-height: 12.1px;
        text-align: center;
}

    .border {
        width: 358px;
        border: 1px solid #656565;
        position: relative;
        left: 15px;
        top: 10px;
}

    .Content {
        display: none;
}

    .imagecart {
        position: relative;
        left: 200px;
        top: 25px;
        background-color: white;
        border: none;
}

    .imagecart img {
        width: 26px;
        height: 24px;
    }

    .item_display {
        width: 358px;
        height: 171px;
    }

    .itemlist {
        position: relative;
        left: 0px;
        left: 15px;
        top:0px;
        top: 100px;
        margin-top: -40px;
    }

    .itemlist img {
        width: 171px;
        height: 171px;
    }
    
    .listItemborder {
        width: 162px;
        border: 1px solid #656565;
        position: relative;
        left: 200px;
        top: 40px
}

    .Itemquantity {
        position: relative;
        left: 200px;
        top: 15px;
}

    .Itemprice {
        position: relative;
        left: 145px;
        top: 65px;
}

    .Item_name {
        width: 200px;
        height: 25px;
        position: relative;
        right: 0px;
        right: 350px;
        top: -80px;
        font-size: 18px;
}

    .Item_size {
        width: 51px;
        height: 21px;
        position: relative;
        top: 0px;
        right: 350px;
        font-size: 14px;
}

    #totaltext {
        width: 59px;
        height: 36px;
        position: relative;
        top: 180px;
        left: 15px;
        font-family: Avenir;
        font-size: 26px;
        font-weight: 900;
        line-height: 35.52px;
        text-align: left;
}

    #totalcash {
        width: 98px;
        height: 39px;
        position: relative;
        left: 265px;
        top: 140px;
        font-family: YuGothic;
        font-size: 26px;
        font-weight: 700;
        line-height: 39px;
        text-align: left;
}

    #totalborder {
        width: 348px;
        border: 1px solid #656565;
        position: relative;
        top: 180px;
        left: 15px;
}

    .Customer_Information {
        width: 348px;
        height: 583px;
        display: inline-block;
        position: relative;
        left: 0px;
        left: 120px;
        top: 150px;
}

    #Customer_Information_text {
        position: relative;
        left: 10px;
        width: 126px;
        height: 27px;
        top: 80px;
        font-family: YuGothic;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        text-align: left;
}

    #Mr{
        position: relative;
        left: 235px;
        top: 130px;
        width: 16px;
        height: 24px;
        font-family: YuGothic;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #333333;
}

    .text_name_border {
        position: relative;
        border: 1px solid #656565;
        width: 348px;
        height: 0px;
        top: 130px;
        right: 90px;
}

    .customer_name {
        position: relative;
        top:125px;
        width: 85px;
        height: 24px;
        left: 20px;
        font-family: YuGothic;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #333333
}

    .customer_mail {
        position: relative;
        top: 190px;
        right: 15px;
        width: 143;
        height: 24px;
        font-family: YuGothic;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #333333
}

    .text_mail_border {
        position: relative;
        border: 1px solid #656565;
        width: 348px;
        height:0px;
        top: 190px;
        right: 90px;
}

    .customer_postcode {
        position: relative;
        top: 230px;
        font-family: YuGothic;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        text-align: left;
}

    .customer_address {
        width: 205px;
        height: 24px;
        position: relative; 
        top: 230px;
        left: 30px;
}

    .text_address_border {
        width: 348px;
        position: relative;
        border: 1px solid #656565;
        top: 230px;
        right: 90px
}

    .customer_Payment_method {
        width: 128px;
        height: 24px;
        position: relative;
        top: 280px;
        left: 5px;
        font-family: YuGothic;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #333333
}

    .text_Payment_method_border {
        width: 348px;
        position: relative;
        border: 1px solid #656565;
        top: 280px;
        right: 90px;
}

    #Order_confirmed {
        width: 358px;
        height: 70px;
        position: relative;
        top: 350px;
        right: 100px;
        background-color: #deb089;
        border: none;
        border-radius: 10px;
        color: white;
}

    #Return_to_cart {
        width: 358px;
        height: 70px;
        position: relative;
        top: 400px;
        right: 100px;
        background-color: white;
        border-radius: 10px;
        font-family: YuGothic;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
    }
}