body {
    overflow-x: hidden;
}

.layout {
    width: 920px;
    height: 145px;
    margin-top: 42px;
    display: flex;
}

.decoration {
    width: 145px;
    height: 145px;
    position: relative;
    left: 240px;
    top: 50px;
    border: none;
    background-color: white;
}

.border {
    width: 920px;
    border: 1px solid #656565;
    position: relative;
    left: 250px;
    top: 50px;
}

.content {
    width: 92px;
    height: 19px;
    position: relative;
    left: 870px;
    top: 160px;
}

.imagecart {
    width: 33px;
    height: 31px;
    position: relative;
    left: 894px;
    top: 155px;
}

.text {
    width: 543px;
    height: 39px;
    font-family: YuGothic;
    font-size: 26px;
    font-weight: 500;
    line-height: 39px;
    text-align: left;
    position: relative;
    top: 200px;
    left: 480px;
}

.border2 {
    width: 920px;
    border: 1px solid #656565;
    position: relative;
    top: 400px;
    left: 250px;
}

.decoration2 {
    width: 145px;
    height: 145px;
    position: relative;
    top: 450px;
    left: 640px;
}

.content2 {
    width: 292px;
    height: 16px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    position: relative;
    left: 580px;
    top: 500px;
}

#return_shopping {
    width: 330px;
    height: 70px;
    background-color: #deb089;
    color: #fff;
    font-family: YuGothic;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    border: none;
    border-radius: 10px;
    position: relative;
    left: 550px;
    top: 250px;
}

@media all and (max-width: 1380px) {

    .border {
        left: 220px;
    }

    .decoration {
        left: 210px;
    }

    .content {
        left: 845px;
    }

    .imagecart {
        top: 155px;
        left: 870px;
    }

    .text {
        left: 470px;
    }

    #return_shopping {
        left: 540px;
    }

    .border2 {
        left: 220px;
    }

    .decoration2 {
        left: 630px;
    }

    .content2 {
        left: 570px;
    }
}

@media all and (max-width: 1350px) {

    .border {
        left: 205px;
    }

    .decoration {
        left: 205px;
    }

    .content {
        left: 825px;
    }

    .imagecart {
        left: 850px;
    }

    .text {
        left: 430px;
    }

    #return_shopping {
        left: 500px;
    }

    .border2 {
        left: 205px;
    }

    .decoration2 {
        left: 590px;
    }

    .content2 {
        left: 530px;
    }
}

@media all and (max-width: 1280px) {

    .border {
        left: 175px;
    }

    .decoration {
        left: 185px;
    }

    .content {
        left: 795px;
    }

    .imagecart {
        left: 825px;
    }

    .text {
        left: 410px;
    }

    #return_shopping {
        left: 470px;
    }

    .border2 {
        left: 175px;
    }

    .decoration2 {
        left: 570px;
    }

    .content2 {
        left: 510px;
    }
}

@media all and (max-width: 1266px) {

    .imagecart {
        left: 823px;
    }

    .text {
        left: 410px;
    }

    #return_shopping {
        left: 480px;
    }
}

@media all and (max-width: 1250px) {

    .border {
        left: 170px;
    }

    .decoration {
        left: 170px;
    }

    .content {
        left: 795px;
    }

    .imagecart {
        left: 819px;
    }

    .text {
        left: 410px;
    }

    #return_shopping {
        left: 470px;
    }

    .border2 {
        left: 170px;
    }

    .decoration2 {
        left: 560px
    }

    .content2 {
        left: 500px;
    }
}

@media all and (max-width: 1200px) {

    .border {
        left: 140px;
    }

    .decoration {
        left: 130px;
    }

    .content {
        left: 760px;
    }

    .imagecart {
        left: 790px;
    }

    .text {
        left: 380px;
    }

    #return_shopping {
        left: 450px;
    }

    .border2 {
        left: 140px;
    }

    .decoration2 {
        left: 530px
    }

    .content2 {
        left: 470px;
    }
}

@media all and (max-width: 1150px) {

    .border {
        left: 110px;
    }

    .decoration {
        left: 110px;
    }

    .content {
        left: 730px;
    }

    .imagecart {
        left: 760px;
    }

    .text {
        left: 370px;
    }

    #return_shopping {
        left: 430px;
    }

    .border2 {
        left: 110px;
    }

    .decoration2 {
        left: 520px;
    }

    .content2 {
        left: 460px;
    }
}

@media all and (max-width: 1100px) {

    .border {
        left: 90px;
    }

    .decoration {
        left: 90px;
    }

    .content {
        left: 710px;
    }

    .imagecart {
        left: 735px;
    }

    .text {
        left: 320px;
    }

    #return_shopping {
        left: 400px;
    }

    .border2 {
        left: 90px;
    }

    .decoration2 {
        left: 490px
    }

    .content2 {
        left: 430px;
    }
}

@media all and (max-width: 1050px) {

    .border {
        left: 63px;
    }

    .decoration {
        left: 60px;
    }

    .content {
        left: 685px;
    }

    .imagecart {
        left: 712px;
    }

    .text {
        left: 300px;
    }

    #return_shopping {
        left: 380px;
    }

    .border2 {
        left: 63px;
    }

    .decoration2 {
        left: 470px
    }

    .content2 {
        left: 410px;
    }
}

@media all and (max-width: 1032px) {

    .border {
        left: 60px;
    }

    .decoration {
        left: 60px;
    }

    .content {
        left: 680px;
    }

    .imagecart {
        left: 708px;
    }

    .text {
        left: 290px;
    }

    #return_shopping {
        left: 370px;
    }

    .border2 {
        left: 60px;
    }

    .decoration2 {
        left: 460px
    }

    .content2 {
        left: 400px;
    }
}

@media all and (max-width: 1024px) {

    .border {
        left: 50px;
    }

    .decoration {
        left: 50px;
    }

    .content {
        left: 670px;
    }

    .imagecart {
        left: 698px;
    }

    .text {
        left: 295px;
    }

    #return_shopping {
        left: 370px;
    }

    .border2 {
        left: 50px;
    }

    .decoration2 {
        left: 460px
    }

    .content2 {
        left: 400px;
    }
}

@media all and (max-width: 1000px) {

    .border {
        left: 40px;
    }

    .decoration {
        left: 40px;
    }

    .content {
        left: 655px;
    }

    .imagecart {
        left: 690px;
    }

    .text {
        left: 270px;
    }

    #return_shopping {
        left: 350px;
    }

    .border2 {
        left: 40px;
    }

    .decoration2 {
        left: 440px
    }

    .content2 {
        left: 380px;
    }
}

@media all and (max-width: 950px) {

    .border {
        left: 15px;
    }

    .decoration {
        left: 10px;
    }

    .content {
        left: 630px;
    }

    .imagecart {
        left: 662px;
    }

    .text {
        left: 250px;
    }

    #return_shopping {
        left: 320px;
    }

    .border2 {
        left: 15px;
    }

    .decoration2 {
        left: 420px
    }

    .content2 {
        left: 360px;
    }
}

@media all and (max-width: 912px) {

    .border {
        left: 5px;
    }

    .decoration {
        left: -10px;
    }

    .content {
        left: 620px;
    }

    .imagecart {
        left: 655px;
    }

    .text {
        left: 240px;
    }

    #return_shopping {
        left: 310px;
    }

    .border2 {
        left: 5px;
    }

    .decoration2 {
        left: 400px
    }

    .content2 {
        left: 340px;
    }
}

@media all and (max-width: 854px) {

    .layout {
        width: 534px;
        height: 110px;
        display: flex;
    }
    
    .decoration {
        left: 135px;
        top: 0px;
        border: none;
        background-color: white;
    }

    .decoration img {
        width: 100px;
        height: 100px;
    }
    
    .border {
        width: 534px;
        border: 1px solid #656565;
        left: 160px;
        top: 20px;
    }
    
    .content {
        display: none;
    }
    
    .imagecart {
        width: 33px;
        height: 31px;
        left: 516px;
        top: 92px;
    }
    
    .text {
        height: 30px;
        font-family: YuGothic;
        font-size: 20px;
        font-weight: 500;
        line-height: 39px;
        text-align: left;
        top: 300px;
        left: 260px;
    }
    
    .border2 {
        width: 534px;
        border: 1px solid #656565;
        top: 700px;
        left: 160px;
    }
    
    .decoration2 {
        width: 100px;
        height: 100px;
        top: 750px;
        left: 390px;
    }
    
    .content2 {
        width: 292px;
        height: 16px;
        font-family: sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
        left: 300px;
        top: 800px;
    }
    
    #return_shopping {
        width: 348px;
        height: 70px;
        background-color: #deb089;
        color: #fff;
        font-family: YuGothic;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        border: none;
        border-radius: 10px;
        left: 260px;
        top: 400px;
    }
}

@media all and (max-width: 820px) {

    .border {
        left: 135px;
    }

    .decoration {
        top: 0px;
        left: 120px;
    }

    .content {
        left: 600px;
    }

    .imagecart {
        left: 490px;
    }

    .text {
        left: 230px;
    }

    #return_shopping {
        left: 235px;
    }

    .border2 {
        left: 135px;
    }

    .decoration2 {
        top: 780px;
        left: 360px
    }

    .content2 {
        top: 860px;
        left: 280px;
    } 
}

@media all and (max-width: 768px) {

    .border {
        left: 115px;
    }

    .decoration {
        left: 100px;
    }

    .imagecart {
        left: 470px;
    }

    .text {
        left: 210px;
    }

    #return_shopping {
        left: 215px;
    }

    .border2 {
        left: 115px;
    }

    .decoration2 {
        left: 340px
    }

    .content2 {
        left: 260px;
    }
}

@media all and (max-width: 712px) {

    .border {
        left: 105px;
    }

    .decoration {
        top: 0px;
        left: 85px;
    }

    .content {
        left: 600px;
    }

    .imagecart {
        left: 460px;
    }

    .text {
        left: 200px;
    }

    #return_shopping {
        left: 200px;
    }

    .border2 {
        left: 105px;
    }

    .decoration2 {
        top: 750px;
        left: 330px
    }

    .content2 {
        top: 800px;
        left: 240px;
    }
}

@media all and (max-width: 640px) {

    .border {
        left: 95px;
    }

    .decoration {
        left: 70px;
    }

    .content {
        left: 600px;
    }

    .imagecart {
        left: 450px;
    }

    .text {
        left: 180px;
    }

    #return_shopping {
        left: 190px;
    }

    .border2 {
        left: 95px;
    }

    .decoration2 {
        left: 320px
    }

    .content2 {
        top: 780px;
        left: 230px;
    }
}

@media all and (max-width: 600px) {

    .border {
        left: 100px;
    }

    .decoration {
        left: 80px;
    }

    .imagecart {
        left: 453px;
    }

    .text {
        left: 190px;
    }

    #return_shopping {
        left: 190px;
    }

    .border2 {
        left: 100px;
    }

    .decoration2 {
        left: 320px
    }

    .content2 {
        top: 820px;
        left: 240px;
    }
}

@media all and (max-width: 430px) {

    .layout {
        width: 358px;
        height: 54px;
        display: flex;
    }
    
    .decoration {
        top: -60px;
        left: -10px;
        border: none;
        background-color: white;
    }

    .decoration img {
        width: 54px;
        height: 54px;
    }
    
    .border {
        width: 358px;
        border: 1px solid #656565;
        left: 35px;
        top: -10px;
    }
    
    .content {
        display: none;
    }
    
    .imagecart {
        width: 26px;
        height: 24px;
        left: 220px;
        top: 10px;
    }
    
    .text {
        width: 360px;
        height: 21px;
        font-family: YuGothic;
        font-size: 20px;
        font-weight: 500;
        line-height: 39px;
        text-align: left;
        top: 200px;
        left: 40px;
    }
    
    .border2 {
        width: 358px;
        border: 1px solid #656565;
        top: 500px;
        left: 35px;
    }
    
    .decoration2 {
        width: 54px;
        height: 54px;
        top: 580px;
        left: 180px;
    }
    
    .content2 {
        width: 232px;
        height: 16px;
        font-family: sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
        left: 80px;
        top: 630px;
    }
    
    #return_shopping {
        width: 358px;
        height: 70px;
        background-color: #deb089;
        color: #fff;
        font-family: YuGothic;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        border: none;
        border-radius: 10px;
        left: 35px;
        top: 300px;
    }   
}

@media all and (max-width: 414px) {

    .border {
        left: 25px;
    }

    .decoration {
        top: -55px;
        left: -20px;
    }

    .imagecart {
        top: 13px;
        left: 213px;
    }

    .text {
        left: 27px;
    }

    #return_shopping {
        left: 27px;
    }

    .border2 {
        left: 25px;
    }

    .decoration2 {
        left: 185px;
    }

    .content2 {
        top: 620px;
        left: 75px;
    }
}

@media all and (max-width: 394px) {

    .border {
        left: 15px;
    }

    .decoration {
        left: -30px;
    }

    .imagecart {
        left: 202px;
    }

    .text {
        left: 15px;
    }

    #return_shopping {
        left: 15px;
    }

    .border2 {
        left: 15px;
    }

    .decoration2 {
        top: 560px;
        left: 175px;
    }

    .content2 {
        top: 600px;
        left: 68px;
    }
}

@media all and (max-width: 376px) {

    .border {
        left: 8px;
    }

    .decoration {
        left: -35px;
    }

    .imagecart {
        left: 193px;
    }

    .text {
        left: 8px;
    }

    #return_shopping {
        left: 8px;
    }

    .border2 {
        left: 8px;
    }

    .decoration2 {
        top: 530px;
        left: 160px;
    }

    .content2 {
        top: 570px;
        left: 62px;
    }
}

@media all and (max-width: 344px) {

    .decoration2 {
        top: 550px;
    }

    .content2 {
        top: 600px;
    }
}